# Анализ структуры баз данных проекта

Этот ноутбук подключается к базам данных `cms`, `lists` и `filestorage` и выводит информацию о структуре таблиц (колонки, типы данных, ограничения).

In [1]:
import os
import sys
from pathlib import Path
import psycopg2
import pandas as pd
from dotenv import load_dotenv
from IPython.display import display, Markdown

In [6]:
# Устанавливаем опции Pandas для полного отображения
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

In [2]:
# Загружаем переменные окружения из .env в корне проекта
# Путь к корню проекта (предполагается, что ноутбук в notebooks/)
project_root = Path.cwd().parent
dotenv_path = project_root / '.env'

if not dotenv_path.exists():
    print(f"Ошибка: Файл .env не найден по пути {dotenv_path}", file=sys.stderr)
else:
    load_dotenv(dotenv_path=dotenv_path)
    print(f".env файл загружен из {dotenv_path}")

# Получаем параметры подключения
pg_user = os.getenv("PG_USER")
pg_password = os.getenv("PG_PASSWORD")
pg_host = os.getenv("PG_HOST", "localhost")
pg_port = os.getenv("PG_PORT", "5432")

if not all([pg_user, pg_password]):
    print("Ошибка: Переменные PG_USER и PG_PASSWORD должны быть установлены в .env.", file=sys.stderr)

.env файл загружен из /home/skitarii/PycharmProjects/chatHRD/.env

## Вспомогательные функции

In [4]:
def get_connection(db_name: str):
    """Подключается к указанной БД."""
    conn = None
    try:
        conn = psycopg2.connect(
            dbname=db_name,
            user=pg_user,
            password=pg_password,
            host=pg_host,
            port=pg_port
        )
        print(f"Успешное подключение к БД '{db_name}'.")
    except psycopg2.OperationalError as e:
        print(f"Ошибка подключения к БД '{db_name}': {e}", file=sys.stderr)
    return conn

def get_tables(conn) -> list[str]:
    """Возвращает список пользовательских таблиц в текущей схеме."""
    if not conn:
        return []
    query = """
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema = 'public' AND table_type = 'BASE TABLE'
        ORDER BY table_name;
    """
    try:
        df = pd.read_sql_query(query, conn)
        return df['table_name'].tolist()
    except Exception as e:
        print(f"Ошибка получения списка таблиц: {e}", file=sys.stderr)
        return []

def get_table_schema(conn, table_name: str) -> pd.DataFrame:
    """Получает схему таблицы (колонки, типы, nullability)."""
    if not conn:
        return pd.DataFrame()
    query = f"""
        SELECT
            column_name,
            data_type,
            is_nullable,
            column_default
        FROM information_schema.columns
        WHERE table_schema = 'public' AND table_name = '{table_name}'
        ORDER BY ordinal_position;
    """
    try:
        df = pd.read_sql_query(query, conn)
        return df
    except Exception as e:
        print(f"Ошибка получения схемы для таблицы {table_name}: {e}", file=sys.stderr)
        return pd.DataFrame()

def get_table_constraints(conn, table_name: str) -> pd.DataFrame:
    """Получает информацию об ограничениях (PK, FK) таблицы."""
    if not conn:
        return pd.DataFrame()
    # Этот запрос немного упрощен, для более сложных случаев может потребоваться доработка
    query = f"""
        SELECT
            tc.constraint_name,
            tc.constraint_type,
            kcu.column_name,
            ccu.table_name AS foreign_table_name,
            ccu.column_name AS foreign_column_name
        FROM
            information_schema.table_constraints AS tc
            JOIN information_schema.key_column_usage AS kcu
              ON tc.constraint_name = kcu.constraint_name
              AND tc.table_schema = kcu.table_schema
            LEFT JOIN information_schema.constraint_column_usage AS ccu
              ON ccu.constraint_name = tc.constraint_name
              AND ccu.table_schema = tc.table_schema
        WHERE tc.table_schema = 'public' AND tc.table_name='{table_name}'
        ORDER BY tc.constraint_type, tc.constraint_name, kcu.ordinal_position;
    """
    try:
        df = pd.read_sql_query(query, conn)
        return df
    except Exception as e:
        print(f"Ошибка получения ограничений для таблицы {table_name}: {e}", file=sys.stderr)
        return pd.DataFrame()

## Анализ баз данных

In [5]:
databases_to_analyze = ["cms", "lists", "filestorage"]


for db_name in databases_to_analyze:
    display(Markdown(f'\n## Анализ базы данных: `{db_name}`'))
    conn = get_connection(db_name)

    if conn:
        tables = get_tables(conn)
        display(Markdown(f'\n### Найдено таблиц: {len(tables)}'))

        for table_name in tables:
            display(Markdown(f'\n#### Таблица: `{table_name}`'))

            display(Markdown('\n##### Схема:'))
            schema_df = get_table_schema(conn, table_name)
            if not schema_df.empty:
                display(schema_df)
            else:
                print(f"Не удалось получить схему для {table_name}")

            display(Markdown('\n##### Ограничения (PK, FK):'))
            constraints_df = get_table_constraints(conn, table_name)
            if not constraints_df.empty:
                display(constraints_df)
            else:
                 # Не выводим сообщение, т.к. у таблицы может и не быть явных PK/FK
                 pass

        # Закрываем соединение после анализа базы
        conn.close()
        print(f"Соединение с БД '{db_name}' закрыто.")
    else:
        display(Markdown(f'**Не удалось подключиться к БД `{db_name}`**'))

print("\nАнализ завершен.")

## Анализ базы данных: `cms`

Успешное подключение к БД 'cms'.

/tmp/ipykernel_450849/82215137.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

### Найдено таблиц: 34

#### Таблица: `admin_panel_users`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

       column_name data_type is_nullable                                 column_default
0               id   integer          NO  nextval('admin_panel_users_id_seq'::regclass)
1         username      text         YES                                           None
2  hashed_password      text         YES                                           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

          constraint_name constraint_type column_name foreign_table_name foreign_column_name
0  admin_panel_users_pkey     PRIMARY KEY          id  admin_panel_users                  id
1        _unique_username          UNIQUE    username  admin_panel_users            username

#### Таблица: `alembic_version`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   column_name          data_type is_nullable column_default
0  version_num  character varying          NO           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

       constraint_name constraint_type  column_name foreign_table_name foreign_column_name
0  alembic_version_pkc     PRIMARY KEY  version_num    alembic_version         version_num

#### Таблица: `asyncprofilesync_profileuserdata`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   column_name                 data_type is_nullable column_default
0           id                      uuid          NO           None
1         data                      json         YES           None
2  keycloak_id                      uuid          NO           None
3     username                      text         YES           None
4   created_at  timestamp with time zone         YES          now()
5   updated_at  timestamp with time zone         YES           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                   constraint_name constraint_type  column_name                foreign_table_name foreign_column_name
0             profileuserdata_pkey     PRIMARY KEY           id  asyncprofilesync_profileuserdata                  id
1  profileuserdata_keycloak_id_key          UNIQUE  keycloak_id  asyncprofilesync_profileuserdata         keycloak_id

#### Таблица: `commands_command`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   column_name                 data_type is_nullable column_default
0           id                   integer          NO           None
1  module_name                      text          NO           None
2         name                      text          NO           None
3   created_at  timestamp with time zone          NO           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                         constraint_name constraint_type  column_name foreign_table_name foreign_column_name
0                  commands_command_pkey     PRIMARY KEY           id   commands_command                  id
1  commands_command_name_module_name_key          UNIQUE         name   commands_command         module_name
2  commands_command_name_module_name_key          UNIQUE         name   commands_command                name
3  commands_command_name_module_name_key          UNIQUE  module_name   commands_command         module_name
4  commands_command_name_module_name_key          UNIQUE  module_name   commands_command                name

#### Таблица: `commands_run`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   column_name                 data_type is_nullable column_default
0           id                   integer          NO           None
1         args                     ARRAY         YES           None
2       kwargs                     jsonb         YES           None
3   command_id                   integer         YES           None
4   started_at  timestamp with time zone         YES           None
5  finished_at  timestamp with time zone         YES           None
6        error                      text         YES           None
7       status         character varying         YES           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                constraint_name constraint_type column_name foreign_table_name foreign_column_name
0  commands_run_command_id_fkey     FOREIGN KEY  command_id   commands_command                  id
1             commands_run_pkey     PRIMARY KEY          id       commands_run                  id

#### Таблица: `deprecated_attachment`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   column_name                    data_type is_nullable column_default
0           id                         uuid          NO           None
1  entity_type                         text         YES           None
2    entity_id                         text         YES           None
3      page_id                         uuid         YES           None
4   created_at  timestamp without time zone         YES           None
5   created_by                         uuid         YES           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                          constraint_name constraint_type column_name     foreign_table_name foreign_column_name
0  attachment_created_by_keycloak_id_fkey     FOREIGN KEY  created_by                  users         keycloak_id
1                 attachment_page_id_fkey     FOREIGN KEY     page_id        deprecated_page                  id
2                         attachment_pkey     PRIMARY KEY          id  deprecated_attachment                  id
3                       attachment_id_key          UNIQUE          id  deprecated_attachment                  id

#### Таблица: `deprecated_deprecated_reaction`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name                    data_type is_nullable column_default
0          id                         uuid          NO           None
1  emoji_uuid                         uuid         YES           None
2     page_id                         uuid         YES           None
3  deleted_at  timestamp without time zone         YES           None
4  deleted_by                         uuid         YES           None
5  created_at  timestamp without time zone         YES           None
6  created_by                         uuid         YES           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                        constraint_name constraint_type column_name              foreign_table_name foreign_column_name
0   deprecated_reaction_deleted_by_fkey     FOREIGN KEY  deleted_by                           users         keycloak_id
1  reaction_created_by_keycloak_id_fkey     FOREIGN KEY  created_by                           users         keycloak_id
2                 reaction_page_id_fkey     FOREIGN KEY     page_id                 deprecated_page                  id
3                         reaction_pkey     PRIMARY KEY          id  deprecated_deprecated_reaction                  id
4                       reaction_id_key          UNIQUE          id  deprecated_deprecated_reaction                  id

#### Таблица: `deprecated_deprecated_role`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   column_name data_type is_nullable      column_default
0           id      uuid          NO  uuid_generate_v4()
1         name      text          NO                None
2  permissions     ARRAY          NO                None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  constraint_name constraint_type column_name          foreign_table_name foreign_column_name
0       role_pkey     PRIMARY KEY          id  deprecated_deprecated_role                  id
1     role_id_key          UNIQUE          id  deprecated_deprecated_role                  id
2   role_name_key          UNIQUE        name  deprecated_deprecated_role                name

#### Таблица: `deprecated_deprecated_userrole`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name data_type is_nullable      column_default
0          id      uuid          NO  uuid_generate_v4()
1   object_id      uuid         YES                None
2     role_id      uuid         YES                None
3     user_id      uuid         YES                None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                           constraint_name constraint_type column_name              foreign_table_name foreign_column_name
0                    userrole_role_id_fkey     FOREIGN KEY     role_id      deprecated_deprecated_role                  id
1           userrole_user_keycloak_id_fkey     FOREIGN KEY     user_id                           users         keycloak_id
2                            userrole_pkey     PRIMARY KEY          id  deprecated_deprecated_userrole                  id
3                          userrole_id_key          UNIQUE          id  deprecated_deprecated_userrole                  id
4   userrole_object_id_role_id_user_id_key          UNIQUE   object_id  deprecated_deprecated_userrole           object_id
5   userrole_object_id_role_id_user_id_key          UNIQUE   object_id  deprecated_deprecated_userrole             role_id
6   userrole_object_id_role_id_user_id_key          UNIQUE   object_id  deprecated_deprecated_userrole             user_id
7   userrole_object_id_role_id_user_id_key          UNIQUE     role_id  deprecated_deprecated_userrole           object_id
8   userrole_object_id_role_id_user_id_key          UNIQUE     role_id  deprecated_deprecated_userrole             role_id
9   userrole_object_id_role_id_user_id_key          UNIQUE     role_id  deprecated_deprecated_userrole             user_id
10  userrole_object_id_role_id_user_id_key          UNIQUE     user_id  deprecated_deprecated_userrole             user_id
11  userrole_object_id_role_id_user_id_key          UNIQUE     user_id  deprecated_deprecated_userrole             role_id
12  userrole_object_id_role_id_user_id_key          UNIQUE     user_id  deprecated_deprecated_userrole           object_id

#### Таблица: `deprecated_favoritepage`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name                    data_type is_nullable column_default
0          id                         uuid          NO           None
1     page_id                         uuid         YES           None
2     user_id                         uuid         YES           None
3  created_at  timestamp without time zone         YES           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                       constraint_name constraint_type column_name       foreign_table_name foreign_column_name
0           favouritepage_page_id_fkey     FOREIGN KEY     page_id          deprecated_page                  id
1  favouritepage_user_keycloak_id_fkey     FOREIGN KEY     user_id                    users         keycloak_id
2                   favouritepage_pkey     PRIMARY KEY          id  deprecated_favoritepage                  id
3                 favouritepage_id_key          UNIQUE          id  deprecated_favoritepage                  id

#### Таблица: `deprecated_feedback`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name                 data_type is_nullable column_default
0     page_id                      uuid          NO           None
1     user_id                      uuid          NO           None
2        body                      json          NO           None
3  created_at  timestamp with time zone          NO           None
4  updated_at  timestamp with time zone          NO           None
5          id                      uuid          NO           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         constraint_name constraint_type column_name   foreign_table_name foreign_column_name
0  feedback_page_id_fkey     FOREIGN KEY     page_id      deprecated_page                  id
1  feedback_user_id_fkey     FOREIGN KEY     user_id                users         keycloak_id
2          feedback_pkey     PRIMARY KEY          id  deprecated_feedback                  id

#### Таблица: `deprecated_feedbackstatus`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

     column_name                 data_type is_nullable                              column_default
0             id                   integer          NO  nextval('feedbackstatus_id_seq'::regclass)
1  created_by_id                      uuid          NO                                        None
2         status         character varying          NO                                        None
3     created_at  timestamp with time zone          NO                                        None
4      is_active                   boolean          NO                                        None
5     updated_at  timestamp with time zone          NO                                        None
6    feedback_id                      uuid          NO                                        None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                     constraint_name constraint_type    column_name         foreign_table_name foreign_column_name
0  feedbackstatus_created_by_id_fkey     FOREIGN KEY  created_by_id                      users         keycloak_id
1      fk_feedbackstatus_feedback_id     FOREIGN KEY    feedback_id        deprecated_feedback                  id
2                feedbackstatus_pkey     PRIMARY KEY             id  deprecated_feedbackstatus                  id

#### Таблица: `deprecated_page`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

        column_name                    data_type is_nullable column_default
0                id                         uuid          NO           None
1        section_id                         uuid         YES           None
2              name                         text         YES           None
3               url                         text         YES           None
4              body                         json         YES           None
5   deprecated_tags                        ARRAY         YES           None
6       views_count                      integer         YES           None
7         is_actual                      boolean         YES           None
8     is_searchable                      boolean         YES           None
9        created_at  timestamp without time zone         YES           None
10       created_by                         uuid         YES           None
11       updated_at  timestamp without time zone         YES           None
12       updated_by                         uuid         YES           None
13       deleted_at  timestamp without time zone         YES           None
14       deleted_by                         uuid         YES           None
15        folder_id                         uuid         YES           None
16       extra_data                         json         YES           None
17             path                         text         YES           None
18             type                         text         YES           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                    constraint_name constraint_type column_name  foreign_table_name foreign_column_name
0  page_created_by_keycloak_id_fkey     FOREIGN KEY  created_by               users         keycloak_id
1  page_deleted_by_keycloak_id_fkey     FOREIGN KEY  deleted_by               users         keycloak_id
2              page_section_id_fkey     FOREIGN KEY  section_id  deprecated_section                  id
3  page_updated_by_keycloak_id_fkey     FOREIGN KEY  updated_by               users         keycloak_id
4                         page_pkey     PRIMARY KEY          id     deprecated_page                  id
5                       page_id_key          UNIQUE          id     deprecated_page                  id

#### Таблица: `deprecated_permissions_default_role`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   column_name          data_type is_nullable                                     column_default
0           id            integer          NO  nextval('permissions_default_role_id_seq'::reg...
1    object_id               uuid         YES                                               None
2  object_type  character varying          NO                                               None
3      role_id            integer          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                      constraint_name constraint_type  column_name                   foreign_table_name foreign_column_name
0               permissions_default_role_role_id_fkey     FOREIGN KEY      role_id          deprecated_permissions_role                  id
1                       permissions_default_role_pkey     PRIMARY KEY           id  deprecated_permissions_default_role                  id
2   permissions_default_role_object_type_object_id...          UNIQUE  object_type  deprecated_permissions_default_role             role_id
3   permissions_default_role_object_type_object_id...          UNIQUE  object_type  deprecated_permissions_default_role           object_id
4   permissions_default_role_object_type_object_id...          UNIQUE  object_type  deprecated_permissions_default_role         object_type
5   permissions_default_role_object_type_object_id...          UNIQUE    object_id  deprecated_permissions_default_role             role_id
6   permissions_default_role_object_type_object_id...          UNIQUE    object_id  deprecated_permissions_default_role         object_type
7   permissions_default_role_object_type_object_id...          UNIQUE    object_id  deprecated_permissions_default_role           object_id
8   permissions_default_role_object_type_object_id...          UNIQUE      role_id  deprecated_permissions_default_role           object_id
9   permissions_default_role_object_type_object_id...          UNIQUE      role_id  deprecated_permissions_default_role         object_type
10  permissions_default_role_object_type_object_id...          UNIQUE      role_id  deprecated_permissions_default_role             role_id

#### Таблица: `deprecated_permissions_group_role`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   column_name          data_type is_nullable                                     column_default
0           id            integer          NO  nextval('permissions_group_role_id_seq'::regcl...
1    object_id               uuid          NO                                               None
2  object_type  character varying          NO                                               None
3      role_id            integer          NO                                               None
4     group_id               uuid          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                      constraint_name constraint_type  column_name                 foreign_table_name foreign_column_name
0                 permissions_group_role_role_id_fkey     FOREIGN KEY      role_id        deprecated_permissions_role                  id
1                         permissions_group_role_pkey     PRIMARY KEY           id  deprecated_permissions_group_role                  id
2   permissions_group_role_object_type_object_id_g...          UNIQUE  object_type  deprecated_permissions_group_role            group_id
3   permissions_group_role_object_type_object_id_g...          UNIQUE  object_type  deprecated_permissions_group_role           object_id
4   permissions_group_role_object_type_object_id_g...          UNIQUE  object_type  deprecated_permissions_group_role         object_type
5   permissions_group_role_object_type_object_id_g...          UNIQUE    object_id  deprecated_permissions_group_role            group_id
6   permissions_group_role_object_type_object_id_g...          UNIQUE    object_id  deprecated_permissions_group_role         object_type
7   permissions_group_role_object_type_object_id_g...          UNIQUE    object_id  deprecated_permissions_group_role           object_id
8   permissions_group_role_object_type_object_id_g...          UNIQUE     group_id  deprecated_permissions_group_role           object_id
9   permissions_group_role_object_type_object_id_g...          UNIQUE     group_id  deprecated_permissions_group_role         object_type
10  permissions_group_role_object_type_object_id_g...          UNIQUE     group_id  deprecated_permissions_group_role            group_id

#### Таблица: `deprecated_permissions_role`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

      column_name data_type is_nullable                                column_default
0              id   integer          NO  nextval('permissions_role_id_seq'::regclass)
1            name      text          NO                                          None
2     permissions     ARRAY          NO                                          None
3  is_inheritable   boolean          NO                                         false

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

             constraint_name constraint_type column_name           foreign_table_name foreign_column_name
0      permissions_role_pkey     PRIMARY KEY          id  deprecated_permissions_role                  id
1  permissions_role_name_key          UNIQUE        name  deprecated_permissions_role                name

#### Таблица: `deprecated_permissions_user_role`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   column_name          data_type is_nullable                                     column_default
0           id            integer          NO  nextval('permissions_user_role_id_seq'::regclass)
1    object_id               uuid          NO                                               None
2  object_type  character varying          NO                                               None
3      role_id            integer          NO                                               None
4      user_id               uuid          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                      constraint_name constraint_type  column_name                foreign_table_name foreign_column_name
0                  permissions_user_role_role_id_fkey     FOREIGN KEY      role_id       deprecated_permissions_role                  id
1                  permissions_user_role_user_id_fkey     FOREIGN KEY      user_id                             users         keycloak_id
2                          permissions_user_role_pkey     PRIMARY KEY           id  deprecated_permissions_user_role                  id
3   permissions_user_role_object_type_object_id_us...          UNIQUE  object_type  deprecated_permissions_user_role           object_id
4   permissions_user_role_object_type_object_id_us...          UNIQUE  object_type  deprecated_permissions_user_role         object_type
5   permissions_user_role_object_type_object_id_us...          UNIQUE  object_type  deprecated_permissions_user_role             user_id
6   permissions_user_role_object_type_object_id_us...          UNIQUE    object_id  deprecated_permissions_user_role             user_id
7   permissions_user_role_object_type_object_id_us...          UNIQUE    object_id  deprecated_permissions_user_role         object_type
8   permissions_user_role_object_type_object_id_us...          UNIQUE    object_id  deprecated_permissions_user_role           object_id
9   permissions_user_role_object_type_object_id_us...          UNIQUE      user_id  deprecated_permissions_user_role           object_id
10  permissions_user_role_object_type_object_id_us...          UNIQUE      user_id  deprecated_permissions_user_role         object_type
11  permissions_user_role_object_type_object_id_us...          UNIQUE      user_id  deprecated_permissions_user_role             user_id

#### Таблица: `deprecated_section`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                     column_name                    data_type is_nullable column_default
0                             id                         uuid          NO           None
1                      parent_id                         uuid         YES           None
2                           name                         text         YES           None
3                            url                         text         YES           None
4                     created_at  timestamp without time zone         YES           None
5                     created_by                         uuid         YES           None
6                     deleted_at  timestamp without time zone         YES           None
7                     deleted_by                         uuid         YES           None
8                     extra_data                         json         YES           None
9                           path                         text         YES           None
10  section_id_with_default_role                         uuid         YES           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                             constraint_name constraint_type                   column_name  foreign_table_name foreign_column_name
0        section_created_by_keycloak_id_fkey     FOREIGN KEY                    created_by               users         keycloak_id
1        section_deleted_by_keycloak_id_fkey     FOREIGN KEY                    deleted_by               users         keycloak_id
2                     section_parent_id_fkey     FOREIGN KEY                     parent_id  deprecated_section                  id
3  section_section_id_with_default_role_fkey     FOREIGN KEY  section_id_with_default_role  deprecated_section                  id
4                               section_pkey     PRIMARY KEY                            id  deprecated_section                  id
5                             section_id_key          UNIQUE                            id  deprecated_section                  id

#### Таблица: `deprecated_viewedpagelog`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name                 data_type is_nullable                             column_default
0          id                    bigint          NO  nextval('viewedpagelog_id_seq'::regclass)
1     page_id                      uuid          NO                                       None
2     user_id                      uuid          NO                                       None
3  watched_at  timestamp with time zone         YES                                       None
4  created_at  timestamp with time zone         YES                                       None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                     constraint_name constraint_type column_name        foreign_table_name foreign_column_name
0         viewedpagelog_page_id_fkey     FOREIGN KEY     page_id           deprecated_page                  id
1         viewedpagelog_user_id_fkey     FOREIGN KEY     user_id                     users         keycloak_id
2                 viewedpagelog_pkey     PRIMARY KEY          id  deprecated_viewedpagelog                  id
3  viewedpagelog_page_id_user_id_key          UNIQUE     page_id  deprecated_viewedpagelog             user_id
4  viewedpagelog_page_id_user_id_key          UNIQUE     page_id  deprecated_viewedpagelog             page_id
5  viewedpagelog_page_id_user_id_key          UNIQUE     user_id  deprecated_viewedpagelog             user_id
6  viewedpagelog_page_id_user_id_key          UNIQUE     user_id  deprecated_viewedpagelog             page_id

#### Таблица: `feedback_feedback`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

     column_name                 data_type is_nullable column_default
0             id                      uuid          NO           None
1        page_id                      uuid          NO           None
2  created_by_id                      uuid          NO           None
3           body                      json          NO           None
4     created_at  timestamp with time zone          NO           None
5     updated_at  timestamp with time zone          NO           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                        constraint_name constraint_type    column_name foreign_table_name foreign_column_name
0  feedback_feedback_created_by_id_fkey     FOREIGN KEY  created_by_id              users         keycloak_id
1        feedback_feedback_page_id_fkey     FOREIGN KEY        page_id         pages_page                  id
2                feedback_feedback_pkey     PRIMARY KEY             id  feedback_feedback                  id

#### Таблица: `feedback_feedbackstatus`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

     column_name                 data_type is_nullable                                     column_default
0             id                   integer          NO  nextval('feedback_feedbackstatus_id_seq'::regc...
1    feedback_id                      uuid          NO                                               None
2  created_by_id                      uuid          NO                                               None
3      is_active                   boolean          NO                                               None
4         status         character varying          NO                                               None
5     created_at  timestamp with time zone          NO                                               None
6     updated_at  timestamp with time zone          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                              constraint_name constraint_type    column_name       foreign_table_name foreign_column_name
0  feedback_feedbackstatus_created_by_id_fkey     FOREIGN KEY  created_by_id                    users         keycloak_id
1    feedback_feedbackstatus_feedback_id_fkey     FOREIGN KEY    feedback_id        feedback_feedback                  id
2                feedback_feedbackstatus_pkey     PRIMARY KEY             id  feedback_feedbackstatus                  id

#### Таблица: `pages_favorite_page`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name                    data_type is_nullable column_default
0          id                         uuid          NO           None
1     page_id                         uuid          NO           None
2     user_id                         uuid          NO           None
3  created_at  timestamp without time zone          NO           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                         constraint_name constraint_type column_name   foreign_table_name foreign_column_name
0      pages_favourite_page_page_id_fkey     FOREIGN KEY     page_id           pages_page                  id
1      pages_favourite_page_user_id_fkey     FOREIGN KEY     user_id                users         keycloak_id
2              pages_favourite_page_pkey     PRIMARY KEY          id  pages_favorite_page                  id
3  pages_favorite_page_id_user_id_unique          UNIQUE     page_id  pages_favorite_page             user_id
4  pages_favorite_page_id_user_id_unique          UNIQUE     page_id  pages_favorite_page             page_id
5  pages_favorite_page_id_user_id_unique          UNIQUE     user_id  pages_favorite_page             user_id
6  pages_favorite_page_id_user_id_unique          UNIQUE     user_id  pages_favorite_page             page_id

#### Таблица: `pages_page`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

       column_name                 data_type is_nullable                                     column_default
0   ts_vector_name                  tsvector          NO                                               None
1   ts_vector_body                  tsvector          NO                                               None
2               id                      uuid          NO                                               None
3             name                      text          NO                                               None
4             slug                      text          NO                                               None
5             body                      json         YES                                               None
6      views_count                   integer          NO                                               None
7           status         character varying         YES                                               None
8          is_main                   boolean          NO                                               None
9         settings                     jsonb          NO  '{"is_reacted": true, "is_comments": true, "is...
10      created_at  timestamp with time zone          NO                                               None
11   created_by_id                      uuid         YES                                               None
12      updated_at  timestamp with time zone         YES                                               None
13   updated_by_id                      uuid         YES                                               None
14       parent_id                      uuid         YES                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                 constraint_name constraint_type    column_name foreign_table_name foreign_column_name
0  pages_page_created_by_id_fkey     FOREIGN KEY  created_by_id              users         keycloak_id
1      pages_page_parent_id_fkey     FOREIGN KEY      parent_id         pages_page                  id
2  pages_page_updated_by_id_fkey     FOREIGN KEY  updated_by_id              users         keycloak_id
3                pages_page_pkey     PRIMARY KEY             id         pages_page                  id
4            pages_page_slug_key          UNIQUE           slug         pages_page                slug

#### Таблица: `permissions_permission`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

    column_name          data_type is_nullable                                     column_default
0            id            integer          NO  nextval('permissions_permission_id_seq'::regcl...
1          name  character varying          NO                                               None
2  display_name  character varying          NO                                               None
3         scope  character varying          NO                                               None
4      subscope  character varying          NO                                               None
5     is_forced            boolean          NO                                              false

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

               constraint_name constraint_type column_name      foreign_table_name foreign_column_name
0  permissions_permission_pkey     PRIMARY KEY          id  permissions_permission                  id

#### Таблица: `permissions_permission_to_role_association`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

     column_name data_type is_nullable column_default
0        role_id   integer          NO           None
1  permission_id   integer          NO           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type    column_name                          foreign_table_name foreign_column_name
0  permissions_permission_to_role_association_per...     FOREIGN KEY  permission_id                      permissions_permission                  id
1  permissions_permission_to_role_association_rol...     FOREIGN KEY        role_id                            permissions_role                  id
2    permissions_permission_to_role_association_pkey     PRIMARY KEY        role_id  permissions_permission_to_role_association             role_id
3    permissions_permission_to_role_association_pkey     PRIMARY KEY        role_id  permissions_permission_to_role_association       permission_id
4    permissions_permission_to_role_association_pkey     PRIMARY KEY  permission_id  permissions_permission_to_role_association             role_id
5    permissions_permission_to_role_association_pkey     PRIMARY KEY  permission_id  permissions_permission_to_role_association       permission_id

#### Таблица: `permissions_role`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

            column_name          data_type is_nullable                                    column_default
0                    id            integer          NO  nextval('permissions_role_new_id_seq'::regclass)
1                  name  character varying          NO                                              None
2          display_name  character varying          NO                                              None
3                 scope  character varying          NO                                              None
4              subscope  character varying          NO                                              None
5     is_system_defined            boolean          NO                                              None
6  is_instance_specific            boolean          NO                                              None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                constraint_name constraint_type           column_name foreign_table_name   foreign_column_name
0     permissions_role_new_pkey     PRIMARY KEY                    id   permissions_role                    id
1  name_scope_unique_constraint          UNIQUE                  name   permissions_role                 scope
2  name_scope_unique_constraint          UNIQUE                  name   permissions_role  is_instance_specific
3  name_scope_unique_constraint          UNIQUE                  name   permissions_role                  name
4  name_scope_unique_constraint          UNIQUE                 scope   permissions_role                 scope
5  name_scope_unique_constraint          UNIQUE                 scope   permissions_role  is_instance_specific
6  name_scope_unique_constraint          UNIQUE                 scope   permissions_role                  name
7  name_scope_unique_constraint          UNIQUE  is_instance_specific   permissions_role                  name
8  name_scope_unique_constraint          UNIQUE  is_instance_specific   permissions_role                 scope
9  name_scope_unique_constraint          UNIQUE  is_instance_specific   permissions_role  is_instance_specific

#### Таблица: `permissions_role_access_grant`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

        column_name                 data_type is_nullable                                     column_default
0                id                   integer          NO  nextval('permissions_role_access_grant_id_seq'...
1           role_id                   integer          NO                                               None
2           user_id                      uuid         YES                                               None
3  target_object_id                      uuid          NO                                               None
4       target_type         character varying          NO                                               None
5        created_at  timestamp with time zone          NO                                               None
6        updated_at  timestamp with time zone          NO                                               None
7          group_id                      uuid         YES                                               None
8      is_inherited                   boolean          NO                                              false

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                constraint_name constraint_type       column_name             foreign_table_name foreign_column_name
0   permissions_role_access_grant_group_id_fkey     FOREIGN KEY          group_id        roles_access_user_group                  id
1   permissions_role_access_grant_group_id_fkey     FOREIGN KEY          group_id        roles_access_user_group                  id
2   permissions_role_access_grant_group_id_fkey     FOREIGN KEY          group_id        roles_access_user_group                  id
3   permissions_role_access_grant_group_id_fkey     FOREIGN KEY          group_id        roles_access_user_group                  id
4    permissions_role_access_grant_role_id_fkey     FOREIGN KEY           role_id               permissions_role                  id
5    permissions_role_access_grant_user_id_fkey     FOREIGN KEY           user_id                          users         keycloak_id
6            permissions_role_access_grant_pkey     PRIMARY KEY                id  permissions_role_access_grant                  id
7        role_access_grant_unique_assignee_role          UNIQUE       target_type  permissions_role_access_grant             user_id
8        role_access_grant_unique_assignee_role          UNIQUE       target_type  permissions_role_access_grant    target_object_id
9        role_access_grant_unique_assignee_role          UNIQUE       target_type  permissions_role_access_grant         target_type
10       role_access_grant_unique_assignee_role          UNIQUE       target_type  permissions_role_access_grant            group_id
11       role_access_grant_unique_assignee_role          UNIQUE       target_type  permissions_role_access_grant             role_id
12       role_access_grant_unique_assignee_role          UNIQUE  target_object_id  permissions_role_access_grant             user_id
13       role_access_grant_unique_assignee_role          UNIQUE  target_object_id  permissions_role_access_grant    target_object_id
14       role_access_grant_unique_assignee_role          UNIQUE  target_object_id  permissions_role_access_grant         target_type
15       role_access_grant_unique_assignee_role          UNIQUE  target_object_id  permissions_role_access_grant            group_id
16       role_access_grant_unique_assignee_role          UNIQUE  target_object_id  permissions_role_access_grant             role_id
17       role_access_grant_unique_assignee_role          UNIQUE           user_id  permissions_role_access_grant    target_object_id
18       role_access_grant_unique_assignee_role          UNIQUE           user_id  permissions_role_access_grant         target_type
19       role_access_grant_unique_assignee_role          UNIQUE           user_id  permissions_role_access_grant            group_id
20       role_access_grant_unique_assignee_role          UNIQUE           user_id  permissions_role_access_grant             role_id
21       role_access_grant_unique_assignee_role          UNIQUE           user_id  permissions_role_access_grant             user_id
22       role_access_grant_unique_assignee_role          UNIQUE          group_id  permissions_role_access_grant             user_id
23       role_access_grant_unique_assignee_role          UNIQUE          group_id  permissions_role_access_grant    target_object_id
24       role_access_grant_unique_assignee_role          UNIQUE          group_id  permissions_role_access_grant         target_type
25       role_access_grant_unique_assignee_role          UNIQUE          group_id  permissions_role_access_grant            group_id
26       role_access_grant_unique_assignee_role          UNIQUE          group_id  permissions_role_access_grant             role_id
27       role_access_grant_unique_assignee_role          UNIQUE           role_id  permissions_role_access_grant         target_type
28       role_access_grant_unique_assignee_role          UNIQUE           role_id  permissions_role_access_grant    target_object_id
29       role_access_grant_unique_assignee_role          UNIQUE           role_id  permissions_role_access_grant             user_id
30       role_access_grant_unique_assignee_role          UNIQUE           role_id  permissions_role_access_grant             role_id
31       role_access_grant_unique_assignee_role          UNIQUE           role_id  permissions_role_access_grant            group_id

#### Таблица: `permissions_role_override`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

        column_name                 data_type is_nullable                                     column_default
0                id                   integer          NO  nextval('permissions_role_override_id_seq'::re...
1       target_type         character varying          NO                                               None
2  target_object_id                      uuid          NO                                               None
3          role_ids                     ARRAY          NO                                               None
4        created_at  timestamp with time zone          NO                                               None
5        updated_at  timestamp with time zone          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                  constraint_name constraint_type       column_name         foreign_table_name foreign_column_name
0  permissions_role_override_pkey     PRIMARY KEY                id  permissions_role_override                  id
1     role_override_target_unique          UNIQUE       target_type  permissions_role_override         target_type
2     role_override_target_unique          UNIQUE       target_type  permissions_role_override    target_object_id
3     role_override_target_unique          UNIQUE  target_object_id  permissions_role_override         target_type
4     role_override_target_unique          UNIQUE  target_object_id  permissions_role_override    target_object_id

#### Таблица: `permissions_role_to_user`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name                 data_type is_nullable                                     column_default
0          id                   integer          NO  nextval('permissions_role_to_user_id_seq'::reg...
1     role_id                   integer          NO                                               None
2     user_id                      uuid         YES                                               None
3  created_at  timestamp with time zone          NO                                               None
4  updated_at  timestamp with time zone          NO                                               None
5    group_id                      uuid         YES                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                               constraint_name constraint_type column_name        foreign_table_name foreign_column_name
0  permissions_role_access_grant_group_id_fkey     FOREIGN KEY    group_id   roles_access_user_group                  id
1  permissions_role_access_grant_group_id_fkey     FOREIGN KEY    group_id   roles_access_user_group                  id
2  permissions_role_access_grant_group_id_fkey     FOREIGN KEY    group_id   roles_access_user_group                  id
3  permissions_role_access_grant_group_id_fkey     FOREIGN KEY    group_id   roles_access_user_group                  id
4        permissions_role_to_user_role_id_fkey     FOREIGN KEY     role_id          permissions_role                  id
5        permissions_role_to_user_user_id_fkey     FOREIGN KEY     user_id                     users         keycloak_id
6                permissions_role_to_user_pkey     PRIMARY KEY          id  permissions_role_to_user                  id

#### Таблица: `roles_access_user_group`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

               column_name data_type is_nullable column_default
0                       id      uuid          NO           None
1                     name      text          NO           None
2             display_name      text         YES           None
3        is_system_defined   boolean          NO           None
4       owner_service_name      text          NO           None
5  owner_service_entity_id      uuid         YES           None
6                parent_id      uuid         YES           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                          constraint_name constraint_type column_name       foreign_table_name foreign_column_name
0  roles_access_user_group_parent_id_fkey     FOREIGN KEY   parent_id  roles_access_user_group                  id
1            roles_access_user_group_pkey     PRIMARY KEY          id  roles_access_user_group                  id
2        roles_access_user_group_name_key          UNIQUE        name  roles_access_user_group                name

#### Таблица: `roles_access_user_to_group`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         column_name data_type is_nullable                                     column_default
0                 id   integer          NO  nextval('roles_access_user_to_group_id_seq'::r...
1   user_keycloak_id      uuid          NO                                               None
2      user_group_id      uuid          NO                                               None
3  is_system_defined   boolean          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                 constraint_name constraint_type       column_name          foreign_table_name foreign_column_name
0  roles_access_user_to_group_user_group_id_fkey     FOREIGN KEY     user_group_id     roles_access_user_group                  id
1                roles_access_user_to_group_pkey     PRIMARY KEY                id  roles_access_user_to_group                  id
2             _user_keycloak_id_user_group_id_uc          UNIQUE  user_keycloak_id  roles_access_user_to_group    user_keycloak_id
3             _user_keycloak_id_user_group_id_uc          UNIQUE  user_keycloak_id  roles_access_user_to_group       user_group_id
4             _user_keycloak_id_user_group_id_uc          UNIQUE     user_group_id  roles_access_user_to_group    user_keycloak_id
5             _user_keycloak_id_user_group_id_uc          UNIQUE     user_group_id  roles_access_user_to_group       user_group_id

#### Таблица: `sites_serviceobject`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

    column_name          data_type is_nullable column_default
0            id               uuid          NO           None
1          name  character varying          NO           None
2          slug  character varying          NO           None
3          type  character varying          NO           None
4  navbar_order            integer         YES           None
5    additional               json          NO           None
6   external_id  character varying         YES           None
7       site_id               uuid          NO           None
8     parent_id               uuid         YES           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                      constraint_name constraint_type  column_name   foreign_table_name foreign_column_name
0  sites_serviceobject_parent_id_fkey     FOREIGN KEY    parent_id  sites_serviceobject                  id
1    sites_serviceobject_site_id_fkey     FOREIGN KEY      site_id           sites_site                  id
2            sites_serviceobject_pkey     PRIMARY KEY           id  sites_serviceobject                  id
3  type_external_id_unique_constraint          UNIQUE         type  sites_serviceobject         external_id
4  type_external_id_unique_constraint          UNIQUE         type  sites_serviceobject                type
5  type_external_id_unique_constraint          UNIQUE  external_id  sites_serviceobject                type
6  type_external_id_unique_constraint          UNIQUE  external_id  sites_serviceobject         external_id

#### Таблица: `sites_site`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                   column_name                 data_type is_nullable column_default
0                           id                      uuid          NO           None
1                         name         character varying          NO           None
2                  description         character varying          NO           None
3                         slug         character varying          NO           None
4                       status         character varying          NO           None
5        is_navigation_visible                   boolean          NO           None
6                   created_at  timestamp with time zone          NO           None
7                   updated_at  timestamp with time zone         YES           None
8   filestorage_root_folder_id                      uuid         YES           None
9                    parent_id                      uuid         YES           None
10               created_by_id                      uuid         YES           None
11               updated_by_id                      uuid         YES           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                 constraint_name constraint_type    column_name foreign_table_name foreign_column_name
0  sites_site_created_by_id_fkey     FOREIGN KEY  created_by_id              users         keycloak_id
1      sites_site_parent_id_fkey     FOREIGN KEY      parent_id         sites_site                  id
2  sites_site_updated_by_id_fkey     FOREIGN KEY  updated_by_id              users         keycloak_id
3                sites_site_pkey     PRIMARY KEY             id         sites_site                  id
4            sites_site_name_key          UNIQUE           name         sites_site                name
5            sites_site_slug_key          UNIQUE           slug         sites_site                slug

#### Таблица: `users`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

      column_name          data_type is_nullable                     column_default
0    is_superuser            boolean          NO                               None
1  keycloak_roles              ARRAY          NO                               None
2        username  character varying          NO                               None
3           email  character varying          NO                               None
4      first_name  character varying          NO                               None
5       last_name  character varying          NO                               None
6      patronymic  character varying          NO                               None
7     keycloak_id               uuid         YES                               None
8       is_active            boolean          NO                               None
9              id            integer          NO  nextval('users_id_seq'::regclass)

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

        constraint_name constraint_type  column_name foreign_table_name foreign_column_name
0            users_pkey     PRIMARY KEY           id              users                  id
1  users_keycloak_id_uq          UNIQUE  keycloak_id              users         keycloak_id

Соединение с БД 'cms' закрыто.

## Анализ базы данных: `lists`

Успешное подключение к БД 'lists'.

/tmp/ipykernel_450849/82215137.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

### Найдено таблиц: 20

#### Таблица: `admin_panel_users`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

       column_name data_type is_nullable                                 column_default
0               id   integer          NO  nextval('admin_panel_users_id_seq'::regclass)
1         username      text         YES                                           None
2  hashed_password      text         YES                                           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                  constraint_name constraint_type column_name foreign_table_name foreign_column_name
0          admin_panel_users_pkey     PRIMARY KEY          id  admin_panel_users                  id
1  admin_panel_users_username_key          UNIQUE    username  admin_panel_users            username

#### Таблица: `alembic_version`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   column_name          data_type is_nullable column_default
0  version_num  character varying          NO           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

       constraint_name constraint_type  column_name foreign_table_name foreign_column_name
0  alembic_version_pkc     PRIMARY KEY  version_num    alembic_version         version_num

#### Таблица: `asyncprofilesync_profileuserdata`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   column_name                 data_type is_nullable column_default
0           id                      uuid          NO           None
1         data                      json         YES           None
2  keycloak_id                      uuid          NO           None
3     username                      text         YES           None
4   created_at  timestamp with time zone         YES          now()
5   updated_at  timestamp with time zone         YES           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                    constraint_name constraint_type  column_name                foreign_table_name foreign_column_name
0             asyncprofilesync_profileuserdata_pkey     PRIMARY KEY           id  asyncprofilesync_profileuserdata                  id
1  asyncprofilesync_profileuserdata_keycloak_id_key          UNIQUE  keycloak_id  asyncprofilesync_profileuserdata         keycloak_id

#### Таблица: `commands_command`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   column_name                 data_type is_nullable column_default
0           id                   integer          NO           None
1  module_name                      text          NO           None
2         name                      text          NO           None
3   created_at  timestamp with time zone          NO           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                         constraint_name constraint_type  column_name foreign_table_name foreign_column_name
0                  commands_command_pkey     PRIMARY KEY           id   commands_command                  id
1  commands_command_name_module_name_key          UNIQUE         name   commands_command         module_name
2  commands_command_name_module_name_key          UNIQUE         name   commands_command                name
3  commands_command_name_module_name_key          UNIQUE  module_name   commands_command         module_name
4  commands_command_name_module_name_key          UNIQUE  module_name   commands_command                name

#### Таблица: `commands_run`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   column_name                 data_type is_nullable column_default
0           id                   integer          NO           None
1         args                     ARRAY         YES           None
2       kwargs                     jsonb         YES           None
3   command_id                   integer         YES           None
4   started_at  timestamp with time zone         YES           None
5  finished_at  timestamp with time zone         YES           None
6        error                      text         YES           None
7       status         character varying         YES           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                constraint_name constraint_type column_name foreign_table_name foreign_column_name
0  commands_run_command_id_fkey     FOREIGN KEY  command_id   commands_command                  id
1             commands_run_pkey     PRIMARY KEY          id       commands_run                  id

#### Таблица: `dictionaries_dictionary`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

           column_name                 data_type is_nullable                                     column_default
0                   id                   integer          NO  nextval('dictionaries_dictionary_id_seq'::regc...
1      dictionary_type                      text          NO                                               None
2  dictionary_value_id                      uuid          NO                                               None
3     dictionary_value         character varying          NO                                               None
4           created_at  timestamp with time zone          NO                                               None
5           updated_at  timestamp with time zone         YES                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                   constraint_name constraint_type          column_name       foreign_table_name  foreign_column_name
0                     dictionaries_dictionary_pkey     PRIMARY KEY                   id  dictionaries_dictionary                   id
1  dictionaries_dictionary_dictionary_value_id_key          UNIQUE  dictionary_value_id  dictionaries_dictionary  dictionary_value_id

#### Таблица: `files_file`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         column_name                 data_type is_nullable                          column_default
0                 id                   integer          NO  nextval('files_file_id_seq'::regclass)
1               name                      text          NO                                    None
2  storage_object_id                      uuid          NO                                    None
3          file_data                     jsonb         YES                                    None
4         created_at  timestamp with time zone          NO                                    None
5         updated_at  timestamp with time zone         YES                                    None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                    constraint_name constraint_type        column_name foreign_table_name foreign_column_name
0                   files_file_pkey     PRIMARY KEY                 id         files_file                  id
1  files_file_storage_object_id_key          UNIQUE  storage_object_id         files_file   storage_object_id

#### Таблица: `lists_list`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

               column_name                 data_type is_nullable                          column_default
0                       id                   integer          NO  nextval('lists_list_id_seq'::regclass)
1                     name         character varying          NO                                    None
2              description         character varying          NO                                    None
3                     slug         character varying          NO                                    None
4                   status         character varying          NO                                    None
5               created_at  timestamp with time zone          NO                                    None
6               updated_at  timestamp with time zone         YES                                    None
7            created_by_id                      uuid         YES                                    None
8            updated_by_id                      uuid         YES                                    None
9                  site_id                      uuid         YES                                    None
10  notifications_settings                     jsonb         YES                                    None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         constraint_name constraint_type    column_name foreign_table_name foreign_column_name
0  fk_list_created_by_id     FOREIGN KEY  created_by_id         users_user         keycloak_id
1  fk_list_updated_by_id     FOREIGN KEY  updated_by_id         users_user         keycloak_id
2        lists_list_pkey     PRIMARY KEY             id         lists_list                  id
3   unique_name_per_site          UNIQUE           name         lists_list             site_id
4   unique_name_per_site          UNIQUE           name         lists_list                name
5   unique_name_per_site          UNIQUE        site_id         lists_list                name
6   unique_name_per_site          UNIQUE        site_id         lists_list             site_id
7            unique_slug          UNIQUE           slug         lists_list                slug

#### Таблица: `lists_list_column`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

      column_name                 data_type is_nullable                                 column_default
0              id                   integer          NO  nextval('lists_list_column_id_seq'::regclass)
1            name         character varying          NO                                           None
2      field_type         character varying          NO                                           None
3   field_options                     jsonb          NO                                           None
4        priority                   integer          NO                                           None
5     is_required                   boolean          NO                                           None
6         list_id                   integer          NO                                           None
7      created_at  timestamp with time zone          NO                                           None
8      updated_at  timestamp with time zone         YES                                           None
9   created_by_id                      uuid         YES                                           None
10  updated_by_id                      uuid         YES                                           None
11     is_visible                   boolean          NO                                           true
12  state_history                     jsonb         YES                                           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                      constraint_name constraint_type    column_name foreign_table_name foreign_column_name
0  fk_lists_list_column_created_by_id     FOREIGN KEY  created_by_id         users_user         keycloak_id
1  fk_lists_list_column_updated_by_id     FOREIGN KEY  updated_by_id         users_user         keycloak_id
2      lists_list_column_list_id_fkey     FOREIGN KEY        list_id         lists_list                  id
3              lists_list_column_pkey     PRIMARY KEY             id  lists_list_column                  id

#### Таблица: `lists_list_group`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

          column_name                 data_type is_nullable                                column_default
0                  id                   integer          NO  nextval('lists_list_group_id_seq'::regclass)
1                name         character varying          NO                                          None
2          group_type         character varying          NO                                          None
3  group_by_column_id                   integer         YES                                          None
4     group_by_row_id                   integer         YES                                          None
5             list_id                   integer          NO                                          None
6          created_at  timestamp with time zone          NO                                          None
7          updated_at  timestamp with time zone         YES                                          None
8       created_by_id                      uuid         YES                                          None
9       updated_by_id                      uuid         YES                                          None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                       constraint_name constraint_type    column_name foreign_table_name foreign_column_name
0  lists_list_group_created_by_id_fkey     FOREIGN KEY  created_by_id         users_user         keycloak_id
1        lists_list_group_list_id_fkey     FOREIGN KEY        list_id         lists_list                  id
2  lists_list_group_updated_by_id_fkey     FOREIGN KEY  updated_by_id         users_user         keycloak_id
3                lists_list_group_pkey     PRIMARY KEY             id   lists_list_group                  id

#### Таблица: `lists_list_row`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

          column_name                 data_type is_nullable                              column_default
0                  id                   integer          NO  nextval('lists_list_row_id_seq'::regclass)
1             list_id                   integer          NO                                        None
2          row_values                     jsonb          NO                                        None
3          created_at  timestamp with time zone          NO                                        None
4          updated_at  timestamp with time zone         YES                                        None
5       created_by_id                      uuid         YES                                        None
6       updated_by_id                      uuid         YES                                        None
7            group_id                   integer         YES                                        None
8    position_primary                   integer          NO                                        None
9  position_secondary                   integer          NO                                        None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                   constraint_name constraint_type    column_name foreign_table_name foreign_column_name
0  fk_lists_list_row_created_by_id     FOREIGN KEY  created_by_id         users_user         keycloak_id
1       fk_lists_list_row_group_id     FOREIGN KEY       group_id   lists_list_group                  id
2  fk_lists_list_row_updated_by_id     FOREIGN KEY  updated_by_id         users_user         keycloak_id
3      lists_list_row_list_id_fkey     FOREIGN KEY        list_id         lists_list                  id
4              lists_list_row_pkey     PRIMARY KEY             id     lists_list_row                  id

#### Таблица: `permissions_permission`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

    column_name          data_type is_nullable                                     column_default
0            id            integer          NO  nextval('permissions_permission_id_seq'::regcl...
1          name  character varying          NO                                               None
2  display_name  character varying          NO                                               None
3         scope  character varying          NO                                               None
4      subscope  character varying          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

               constraint_name constraint_type column_name      foreign_table_name foreign_column_name
0  permissions_permission_pkey     PRIMARY KEY          id  permissions_permission                  id

#### Таблица: `permissions_permission_to_role_association`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

     column_name data_type is_nullable column_default
0        role_id   integer          NO           None
1  permission_id   integer          NO           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type    column_name                          foreign_table_name foreign_column_name
0  permissions_permission_to_role_association_per...     FOREIGN KEY  permission_id                      permissions_permission                  id
1  permissions_permission_to_role_association_rol...     FOREIGN KEY        role_id                            permissions_role                  id
2    permissions_permission_to_role_association_pkey     PRIMARY KEY        role_id  permissions_permission_to_role_association             role_id
3    permissions_permission_to_role_association_pkey     PRIMARY KEY        role_id  permissions_permission_to_role_association       permission_id
4    permissions_permission_to_role_association_pkey     PRIMARY KEY  permission_id  permissions_permission_to_role_association             role_id
5    permissions_permission_to_role_association_pkey     PRIMARY KEY  permission_id  permissions_permission_to_role_association       permission_id

#### Таблица: `permissions_role`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         column_name          data_type is_nullable                                column_default
0                 id            integer          NO  nextval('permissions_role_id_seq'::regclass)
1               name  character varying          NO                                          None
2       display_name  character varying          NO                                          None
3              scope  character varying          NO                                          None
4           subscope  character varying          NO                                          None
5  is_system_defined            boolean          NO                                          None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

             constraint_name constraint_type column_name foreign_table_name foreign_column_name
0      permissions_role_pkey     PRIMARY KEY          id   permissions_role                  id
1  permissions_role_name_key          UNIQUE        name   permissions_role                name

#### Таблица: `permissions_role_access_grant`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

        column_name                 data_type is_nullable                                     column_default
0                id                   integer          NO  nextval('permissions_role_access_grant_id_seq'...
1           role_id                   integer          NO                                               None
2           user_id                      uuid         YES                                               None
3  target_object_id                   integer          NO                                               None
4       target_type         character varying          NO                                               None
5        created_at  timestamp with time zone          NO                                               None
6        updated_at  timestamp with time zone          NO                                               None
7     user_group_id                      uuid         YES                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                    constraint_name constraint_type    column_name             foreign_table_name foreign_column_name
0        permissions_role_access_grant_role_id_fkey     FOREIGN KEY        role_id               permissions_role                  id
1  permissions_role_access_grant_user_group_id_fkey     FOREIGN KEY  user_group_id        roles_access_user_group                  id
2        permissions_role_access_grant_user_id_fkey     FOREIGN KEY        user_id                     users_user         keycloak_id
3                permissions_role_access_grant_pkey     PRIMARY KEY             id  permissions_role_access_grant                  id

#### Таблица: `permissions_role_override`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

        column_name          data_type is_nullable                                     column_default
0                id            integer          NO  nextval('permissions_role_override_id_seq'::re...
1  target_object_id            integer          NO                                               None
2       target_type  character varying          NO                                               None
3             roles              ARRAY          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                           constraint_name constraint_type       column_name         foreign_table_name foreign_column_name
0           permissions_role_override_pkey     PRIMARY KEY                id  permissions_role_override                  id
1  target_id_target_type_unique_constraint          UNIQUE  target_object_id  permissions_role_override    target_object_id
2  target_id_target_type_unique_constraint          UNIQUE  target_object_id  permissions_role_override         target_type
3  target_id_target_type_unique_constraint          UNIQUE       target_type  permissions_role_override    target_object_id
4  target_id_target_type_unique_constraint          UNIQUE       target_type  permissions_role_override         target_type

#### Таблица: `permissions_role_to_user`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name                 data_type is_nullable                                     column_default
0          id                   integer          NO  nextval('permissions_role_to_user_id_seq'::reg...
1     role_id                   integer          NO                                               None
2     user_id                      uuid          NO                                               None
3  created_at  timestamp with time zone          NO                                               None
4  updated_at  timestamp with time zone          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                         constraint_name constraint_type column_name        foreign_table_name foreign_column_name
0  permissions_role_to_user_role_id_fkey     FOREIGN KEY     role_id          permissions_role                  id
1  permissions_role_to_user_user_id_fkey     FOREIGN KEY     user_id                users_user         keycloak_id
2          permissions_role_to_user_pkey     PRIMARY KEY          id  permissions_role_to_user                  id

#### Таблица: `roles_access_user_group`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

               column_name data_type is_nullable column_default
0                       id      uuid          NO           None
1                     name      text          NO           None
2             display_name      text         YES           None
3        is_system_defined   boolean          NO           None
4       owner_service_name      text          NO           None
5  owner_service_entity_id      uuid         YES           None
6                parent_id      uuid         YES           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                          constraint_name constraint_type column_name       foreign_table_name foreign_column_name
0  roles_access_user_group_parent_id_fkey     FOREIGN KEY   parent_id  roles_access_user_group                  id
1            roles_access_user_group_pkey     PRIMARY KEY          id  roles_access_user_group                  id
2        roles_access_user_group_name_key          UNIQUE        name  roles_access_user_group                name

#### Таблица: `roles_access_user_to_group`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         column_name data_type is_nullable                                     column_default
0                 id   integer          NO  nextval('roles_access_user_to_group_id_seq'::r...
1   user_keycloak_id      uuid          NO                                               None
2      user_group_id      uuid          NO                                               None
3  is_system_defined   boolean          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                 constraint_name constraint_type       column_name          foreign_table_name foreign_column_name
0  roles_access_user_to_group_user_group_id_fkey     FOREIGN KEY     user_group_id     roles_access_user_group                  id
1                roles_access_user_to_group_pkey     PRIMARY KEY                id  roles_access_user_to_group                  id
2             _user_keycloak_id_user_group_id_uc          UNIQUE  user_keycloak_id  roles_access_user_to_group    user_keycloak_id
3             _user_keycloak_id_user_group_id_uc          UNIQUE  user_keycloak_id  roles_access_user_to_group       user_group_id
4             _user_keycloak_id_user_group_id_uc          UNIQUE     user_group_id  roles_access_user_to_group    user_keycloak_id
5             _user_keycloak_id_user_group_id_uc          UNIQUE     user_group_id  roles_access_user_to_group       user_group_id

#### Таблица: `users_user`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

      column_name          data_type is_nullable                          column_default
0              id            integer          NO  nextval('users_user_id_seq'::regclass)
1        username  character varying          NO                                    None
2           email  character varying          NO                                    None
3      first_name  character varying          NO                                    None
4       last_name  character varying          NO                                    None
5      patronymic  character varying          NO                                    None
6     keycloak_id               uuid         YES                                    None
7  keycloak_roles              ARRAY          NO                                    None
8    is_superuser            boolean          NO                                    None
9       is_active            boolean          NO                                    None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

              constraint_name constraint_type  column_name foreign_table_name foreign_column_name
0             users_user_pkey     PRIMARY KEY           id         users_user                  id
1  users_user_keycloak_id_key          UNIQUE  keycloak_id         users_user         keycloak_id

Соединение с БД 'lists' закрыто.

## Анализ базы данных: `filestorage`

/tmp/ipykernel_450849/82215137.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

Успешное подключение к БД 'filestorage'.

### Найдено таблиц: 63

#### Таблица: `activity_streams_action`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

              column_name                 data_type is_nullable                                     column_default
0                      id                    bigint          NO  nextval('activity_streams_action_id_seq'::regc...
1                    type         character varying          NO                                               None
2               object_id         character varying          NO                                               None
3                 context                     jsonb          NO                                               None
4              created_at  timestamp with time zone          NO                                               None
5                actor_id                   integer         YES                                               None
6  object_content_type_id                   integer          NO                                               None
7               target_id                      uuid          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type             column_name       foreign_table_name foreign_column_name
0  activity_streams_act_object_content_type__63ab...     FOREIGN KEY  object_content_type_id      django_content_type                  id
1  activity_streams_act_target_id_6a51ca72_fk_sto...     FOREIGN KEY               target_id    storage_storageobject                  id
2  activity_streams_action_actor_id_18e79cce_fk_a...     FOREIGN KEY                actor_id                auth_user                  id
3                       activity_streams_action_pkey     PRIMARY KEY                      id  activity_streams_action                  id

#### Таблица: `auth_group`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name          data_type is_nullable                          column_default
0          id            integer          NO  nextval('auth_group_id_seq'::regclass)
1        name  character varying          NO                                    None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

       constraint_name constraint_type column_name foreign_table_name foreign_column_name
0      auth_group_pkey     PRIMARY KEY          id         auth_group                  id
1  auth_group_name_key          UNIQUE        name         auth_group                name

#### Таблица: `auth_group_permissions`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

     column_name data_type is_nullable                                     column_default
0             id    bigint          NO  nextval('auth_group_permissions_id_seq'::regcl...
1       group_id   integer          NO                                               None
2  permission_id   integer          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type    column_name      foreign_table_name foreign_column_name
0  auth_group_permissio_permission_id_84c5c92e_fk...     FOREIGN KEY  permission_id         auth_permission                  id
1  auth_group_permissions_group_id_b120cbf9_fk_au...     FOREIGN KEY       group_id              auth_group                  id
2                        auth_group_permissions_pkey     PRIMARY KEY             id  auth_group_permissions                  id
3  auth_group_permissions_group_id_permission_id_...          UNIQUE       group_id  auth_group_permissions       permission_id
4  auth_group_permissions_group_id_permission_id_...          UNIQUE       group_id  auth_group_permissions            group_id
5  auth_group_permissions_group_id_permission_id_...          UNIQUE  permission_id  auth_group_permissions            group_id
6  auth_group_permissions_group_id_permission_id_...          UNIQUE  permission_id  auth_group_permissions       permission_id

#### Таблица: `auth_permission`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

       column_name          data_type is_nullable                               column_default
0               id            integer          NO  nextval('auth_permission_id_seq'::regclass)
1             name  character varying          NO                                         None
2  content_type_id            integer          NO                                         None
3         codename  character varying          NO                                         None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type      column_name   foreign_table_name foreign_column_name
0  auth_permission_content_type_id_2f476e4b_fk_dj...     FOREIGN KEY  content_type_id  django_content_type                  id
1                               auth_permission_pkey     PRIMARY KEY               id      auth_permission                  id
2  auth_permission_content_type_id_codename_01ab3...          UNIQUE  content_type_id      auth_permission     content_type_id
3  auth_permission_content_type_id_codename_01ab3...          UNIQUE  content_type_id      auth_permission            codename
4  auth_permission_content_type_id_codename_01ab3...          UNIQUE         codename      auth_permission     content_type_id
5  auth_permission_content_type_id_codename_01ab3...          UNIQUE         codename      auth_permission            codename

#### Таблица: `auth_user`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

     column_name                 data_type is_nullable                         column_default
0             id                   integer          NO  nextval('auth_user_id_seq'::regclass)
1       password         character varying          NO                                   None
2     last_login  timestamp with time zone         YES                                   None
3   is_superuser                   boolean          NO                                   None
4       username         character varying          NO                                   None
5     first_name         character varying          NO                                   None
6      last_name         character varying          NO                                   None
7          email         character varying          NO                                   None
8       is_staff                   boolean          NO                                   None
9      is_active                   boolean          NO                                   None
10   date_joined  timestamp with time zone          NO                                   None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

          constraint_name constraint_type column_name foreign_table_name foreign_column_name
0          auth_user_pkey     PRIMARY KEY          id          auth_user                  id
1  auth_user_username_key          UNIQUE    username          auth_user            username

#### Таблица: `auth_user_groups`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name data_type is_nullable                                column_default
0          id    bigint          NO  nextval('auth_user_groups_id_seq'::regclass)
1     user_id   integer          NO                                          None
2    group_id   integer          NO                                          None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type column_name foreign_table_name foreign_column_name
0  auth_user_groups_group_id_97559544_fk_auth_gro...     FOREIGN KEY    group_id         auth_group                  id
1  auth_user_groups_user_id_6a12ed8b_fk_auth_user_id     FOREIGN KEY     user_id          auth_user                  id
2                              auth_user_groups_pkey     PRIMARY KEY          id   auth_user_groups                  id
3    auth_user_groups_user_id_group_id_94350c0c_uniq          UNIQUE     user_id   auth_user_groups            group_id
4    auth_user_groups_user_id_group_id_94350c0c_uniq          UNIQUE     user_id   auth_user_groups             user_id
5    auth_user_groups_user_id_group_id_94350c0c_uniq          UNIQUE    group_id   auth_user_groups             user_id
6    auth_user_groups_user_id_group_id_94350c0c_uniq          UNIQUE    group_id   auth_user_groups            group_id

#### Таблица: `auth_user_user_permissions`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

     column_name data_type is_nullable                                     column_default
0             id    bigint          NO  nextval('auth_user_user_permissions_id_seq'::r...
1        user_id   integer          NO                                               None
2  permission_id   integer          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type    column_name          foreign_table_name foreign_column_name
0  auth_user_user_permi_permission_id_1fbb5f2c_fk...     FOREIGN KEY  permission_id             auth_permission                  id
1  auth_user_user_permissions_user_id_a95ead1b_fk...     FOREIGN KEY        user_id                   auth_user                  id
2                    auth_user_user_permissions_pkey     PRIMARY KEY             id  auth_user_user_permissions                  id
3  auth_user_user_permissions_user_id_permission_...          UNIQUE        user_id  auth_user_user_permissions       permission_id
4  auth_user_user_permissions_user_id_permission_...          UNIQUE        user_id  auth_user_user_permissions             user_id
5  auth_user_user_permissions_user_id_permission_...          UNIQUE  permission_id  auth_user_user_permissions             user_id
6  auth_user_user_permissions_user_id_permission_...          UNIQUE  permission_id  auth_user_user_permissions       permission_id

#### Таблица: `django_admin_log`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

       column_name                 data_type is_nullable                                column_default
0               id                   integer          NO  nextval('django_admin_log_id_seq'::regclass)
1      action_time  timestamp with time zone          NO                                          None
2        object_id                      text         YES                                          None
3      object_repr         character varying          NO                                          None
4      action_flag                  smallint          NO                                          None
5   change_message                      text          NO                                          None
6  content_type_id                   integer         YES                                          None
7          user_id                   integer          NO                                          None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type      column_name   foreign_table_name foreign_column_name
0  django_admin_log_content_type_id_c4bce8eb_fk_d...     FOREIGN KEY  content_type_id  django_content_type                  id
1  django_admin_log_user_id_c564eba6_fk_auth_user_id     FOREIGN KEY          user_id            auth_user                  id
2                              django_admin_log_pkey     PRIMARY KEY               id     django_admin_log                  id

#### Таблица: `django_celery_beat_clockedschedule`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

    column_name                 data_type is_nullable                                     column_default
0            id                   integer          NO  nextval('django_celery_beat_clockedschedule_id...
1  clocked_time  timestamp with time zone          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                           constraint_name constraint_type column_name                  foreign_table_name foreign_column_name
0  django_celery_beat_clockedschedule_pkey     PRIMARY KEY          id  django_celery_beat_clockedschedule                  id

#### Таблица: `django_celery_beat_crontabschedule`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

     column_name          data_type is_nullable                                     column_default
0             id            integer          NO  nextval('django_celery_beat_crontabschedule_id...
1         minute  character varying          NO                                               None
2           hour  character varying          NO                                               None
3    day_of_week  character varying          NO                                               None
4   day_of_month  character varying          NO                                               None
5  month_of_year  character varying          NO                                               None
6       timezone  character varying          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                           constraint_name constraint_type column_name                  foreign_table_name foreign_column_name
0  django_celery_beat_crontabschedule_pkey     PRIMARY KEY          id  django_celery_beat_crontabschedule                  id

#### Таблица: `django_celery_beat_intervalschedule`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name          data_type is_nullable                                     column_default
0          id            integer          NO  nextval('django_celery_beat_intervalschedule_i...
1       every            integer          NO                                               None
2      period  character varying          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                            constraint_name constraint_type column_name                   foreign_table_name foreign_column_name
0  django_celery_beat_intervalschedule_pkey     PRIMARY KEY          id  django_celery_beat_intervalschedule                  id

#### Таблица: `django_celery_beat_periodictask`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

        column_name                 data_type is_nullable                                     column_default
0                id                   integer          NO  nextval('django_celery_beat_periodictask_id_se...
1              name         character varying          NO                                               None
2              task         character varying          NO                                               None
3              args                      text          NO                                               None
4            kwargs                      text          NO                                               None
5             queue         character varying         YES                                               None
6          exchange         character varying         YES                                               None
7       routing_key         character varying         YES                                               None
8           expires  timestamp with time zone         YES                                               None
9           enabled                   boolean          NO                                               None
10      last_run_at  timestamp with time zone         YES                                               None
11  total_run_count                   integer          NO                                               None
12     date_changed  timestamp with time zone          NO                                               None
13      description                      text          NO                                               None
14       crontab_id                   integer         YES                                               None
15      interval_id                   integer         YES                                               None
16         solar_id                   integer         YES                                               None
17          one_off                   boolean          NO                                               None
18       start_time  timestamp with time zone         YES                                               None
19         priority                   integer         YES                                               None
20          headers                      text          NO                                               None
21       clocked_id                   integer         YES                                               None
22   expire_seconds                   integer         YES                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type  column_name                   foreign_table_name foreign_column_name
0  django_celery_beat_p_clocked_id_47a69f82_fk_dj...     FOREIGN KEY   clocked_id   django_celery_beat_clockedschedule                  id
1  django_celery_beat_p_crontab_id_d3cba168_fk_dj...     FOREIGN KEY   crontab_id   django_celery_beat_crontabschedule                  id
2  django_celery_beat_p_interval_id_a8ca27da_fk_d...     FOREIGN KEY  interval_id  django_celery_beat_intervalschedule                  id
3  django_celery_beat_p_solar_id_a87ce72c_fk_djan...     FOREIGN KEY     solar_id     django_celery_beat_solarschedule                  id
4               django_celery_beat_periodictask_pkey     PRIMARY KEY           id      django_celery_beat_periodictask                  id
5           django_celery_beat_periodictask_name_key          UNIQUE         name      django_celery_beat_periodictask                name

#### Таблица: `django_celery_beat_periodictasks`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   column_name                 data_type is_nullable column_default
0        ident                  smallint          NO           None
1  last_update  timestamp with time zone          NO           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                         constraint_name constraint_type column_name                foreign_table_name foreign_column_name
0  django_celery_beat_periodictasks_pkey     PRIMARY KEY       ident  django_celery_beat_periodictasks               ident

#### Таблица: `django_celery_beat_solarschedule`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name          data_type is_nullable                                     column_default
0          id            integer          NO  nextval('django_celery_beat_solarschedule_id_s...
1       event  character varying          NO                                               None
2    latitude            numeric          NO                                               None
3   longitude            numeric          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type column_name                foreign_table_name foreign_column_name
0              django_celery_beat_solarschedule_pkey     PRIMARY KEY          id  django_celery_beat_solarschedule                  id
1  django_celery_beat_solar_event_latitude_longit...          UNIQUE       event  django_celery_beat_solarschedule            latitude
2  django_celery_beat_solar_event_latitude_longit...          UNIQUE       event  django_celery_beat_solarschedule           longitude
3  django_celery_beat_solar_event_latitude_longit...          UNIQUE       event  django_celery_beat_solarschedule               event
4  django_celery_beat_solar_event_latitude_longit...          UNIQUE    latitude  django_celery_beat_solarschedule            latitude
5  django_celery_beat_solar_event_latitude_longit...          UNIQUE    latitude  django_celery_beat_solarschedule           longitude
6  django_celery_beat_solar_event_latitude_longit...          UNIQUE    latitude  django_celery_beat_solarschedule               event
7  django_celery_beat_solar_event_latitude_longit...          UNIQUE   longitude  django_celery_beat_solarschedule               event
8  django_celery_beat_solar_event_latitude_longit...          UNIQUE   longitude  django_celery_beat_solarschedule            latitude
9  django_celery_beat_solar_event_latitude_longit...          UNIQUE   longitude  django_celery_beat_solarschedule           longitude

#### Таблица: `django_content_type`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name          data_type is_nullable                                   column_default
0          id            integer          NO  nextval('django_content_type_id_seq'::regclass)
1   app_label  character varying          NO                                             None
2       model  character varying          NO                                             None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type column_name   foreign_table_name foreign_column_name
0                           django_content_type_pkey     PRIMARY KEY          id  django_content_type                  id
1  django_content_type_app_label_model_76bd3d3b_uniq          UNIQUE   app_label  django_content_type           app_label
2  django_content_type_app_label_model_76bd3d3b_uniq          UNIQUE   app_label  django_content_type               model
3  django_content_type_app_label_model_76bd3d3b_uniq          UNIQUE       model  django_content_type           app_label
4  django_content_type_app_label_model_76bd3d3b_uniq          UNIQUE       model  django_content_type               model

#### Таблица: `django_migrations`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name                 data_type is_nullable                                 column_default
0          id                    bigint          NO  nextval('django_migrations_id_seq'::regclass)
1         app         character varying          NO                                           None
2        name         character varying          NO                                           None
3     applied  timestamp with time zone          NO                                           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

          constraint_name constraint_type column_name foreign_table_name foreign_column_name
0  django_migrations_pkey     PRIMARY KEY          id  django_migrations                  id

#### Таблица: `django_session`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

    column_name                 data_type is_nullable column_default
0   session_key         character varying          NO           None
1  session_data                      text          NO           None
2   expire_date  timestamp with time zone          NO           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

       constraint_name constraint_type  column_name foreign_table_name foreign_column_name
0  django_session_pkey     PRIMARY KEY  session_key     django_session         session_key

#### Таблица: `django_site`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name          data_type is_nullable                           column_default
0          id            integer          NO  nextval('django_site_id_seq'::regclass)
1      domain  character varying          NO                                     None
2        name  character varying          NO                                     None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                    constraint_name constraint_type column_name foreign_table_name foreign_column_name
0                  django_site_pkey     PRIMARY KEY          id        django_site                  id
1  django_site_domain_a2e37b91_uniq          UNIQUE      domain        django_site              domain

#### Таблица: `extensions_folderpermittedextensions`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         column_name data_type is_nullable                                     column_default
0                 id    bigint          NO  nextval('extensions_folderpermittedextensions_...
1              image     ARRAY          NO                                               None
2              video     ARRAY          NO                                               None
3  storage_object_id      uuid          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type        column_name                    foreign_table_name foreign_column_name
0  extensions_folderper_storage_object_id_161d172...     FOREIGN KEY  storage_object_id                 storage_storageobject                  id
1          extensions_folderpermittedextensions_pkey     PRIMARY KEY                 id  extensions_folderpermittedextensions                  id
2  extensions_folderpermitt_storage_object_id_161...          UNIQUE  storage_object_id  extensions_folderpermittedextensions   storage_object_id

#### Таблица: `filestorage_attachment`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

             column_name                 data_type is_nullable                                     column_default
0                     id                    bigint          NO  nextval('filestorage_attachment_id_seq'::regcl...
1              object_id                   integer         YES                                               None
2           content_type                      text         YES                                               None
3                visible                   boolean          NO                                               None
4                   name                      text          NO                                               None
5        attachment_file         character varying          NO                                               None
6                  image                   boolean          NO                                               None
7                created  timestamp with time zone          NO                                               None
8               modified  timestamp with time zone          NO                                               None
9                  order                  smallint          NO                                               None
10                  mime         character varying         YES                                               None
11            is_deleted                   boolean          NO                                               None
12    attachment_preview         character varying         YES                                               None
13                  tags         character varying          NO                                               None
14             file_size                   integer         YES                                               None
15               task_id         character varying          NO                                               None
16          is_processed                   boolean          NO                                               None
17         created_by_id                   integer          NO                                               None
18             link_type                      text         YES                                               None
19                  uuid                      uuid          NO                                               None
20         updated_by_id                   integer          NO                                               None
21           description                      text         YES                                               None
22                  info                     jsonb         YES                                               None
23             folder_id                    bigint         YES                                               None
24  user_default_role_id                    bigint         YES                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type           column_name      foreign_table_name foreign_column_name
0  filestorage_attachme_user_default_role_id_97fb...     FOREIGN KEY  user_default_role_id  role_model_genericrole                  id
1  filestorage_attachment_created_by_id_66682e7a_...     FOREIGN KEY         created_by_id               auth_user                  id
2       filestorage_attachment_folder_id_8dc853b3_fk     FOREIGN KEY             folder_id      filestorage_folder                  id
3  filestorage_attachment_updated_by_id_1e6e3133_...     FOREIGN KEY         updated_by_id               auth_user                  id
4                        filestorage_attachment_pkey     PRIMARY KEY                    id  filestorage_attachment                  id
5          filestorage_attachment_uuid_636a3fbc_uniq          UNIQUE                  uuid  filestorage_attachment                uuid

#### Таблица: `filestorage_attachmentimage`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         column_name                 data_type is_nullable                                     column_default
0                 id                    bigint          NO  nextval('filestorage_attachmentimage_id_seq'::...
1       content_type                      text         YES                                               None
2          object_id                   integer         YES                                               None
3         image_file         character varying          NO                                               None
4   image_file_large         character varying          NO                                               None
5            created  timestamp with time zone          NO                                               None
6           modified  timestamp with time zone          NO                                               None
7              order                  smallint          NO                                               None
8         is_deleted                   boolean          NO                                               None
9          file_size                   integer         YES                                               None
10     created_by_id                   integer          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type    column_name           foreign_table_name foreign_column_name
0  filestorage_attachme_created_by_id_92a59c81_fk...     FOREIGN KEY  created_by_id                    auth_user                  id
1                   filestorage_attachmentimage_pkey     PRIMARY KEY             id  filestorage_attachmentimage                  id

#### Таблица: `filestorage_folder`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

             column_name                 data_type is_nullable                                  column_default
0                     id                    bigint          NO  nextval('filestorage_folder_id_seq'::regclass)
1           content_type                      text         YES                                            None
2              object_id                   integer         YES                                            None
3                   name         character varying          NO                                            None
4                    lft                   integer          NO                                            None
5                   rght                   integer          NO                                            None
6                tree_id                   integer          NO                                            None
7                  level                   integer          NO                                            None
8              parent_id                    bigint         YES                                            None
9              link_type                      text         YES                                            None
10               created  timestamp with time zone          NO                                            None
11         created_by_id                   integer         YES                                            None
12              modified  timestamp with time zone          NO                                            None
13         updated_by_id                   integer         YES                                            None
14                  info                     jsonb         YES                                            None
15  user_default_role_id                    bigint         YES                                            None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                      constraint_name constraint_type           column_name      foreign_table_name foreign_column_name
0   filestorage_folder_created_by_id_0e762583_fk_a...     FOREIGN KEY         created_by_id               auth_user                  id
1            filestorage_folder_parent_id_cf12a51a_fk     FOREIGN KEY             parent_id      filestorage_folder                  id
2   filestorage_folder_updated_by_id_51794494_fk_a...     FOREIGN KEY         updated_by_id               auth_user                  id
3   filestorage_folder_user_default_role_id_4db4fd...     FOREIGN KEY  user_default_role_id  role_model_genericrole                  id
4                             filestorage_folder_pkey     PRIMARY KEY                    id      filestorage_folder                  id
5   filestorage_folder_content_type_object_id_n_56...          UNIQUE          content_type      filestorage_folder        content_type
6   filestorage_folder_content_type_object_id_n_56...          UNIQUE          content_type      filestorage_folder           object_id
7   filestorage_folder_content_type_object_id_n_56...          UNIQUE          content_type      filestorage_folder                name
8   filestorage_folder_content_type_object_id_n_56...          UNIQUE          content_type      filestorage_folder           parent_id
9   filestorage_folder_content_type_object_id_n_56...          UNIQUE             object_id      filestorage_folder           object_id
10  filestorage_folder_content_type_object_id_n_56...          UNIQUE             object_id      filestorage_folder                name
11  filestorage_folder_content_type_object_id_n_56...          UNIQUE             object_id      filestorage_folder           parent_id
12  filestorage_folder_content_type_object_id_n_56...          UNIQUE             object_id      filestorage_folder        content_type
13  filestorage_folder_content_type_object_id_n_56...          UNIQUE                  name      filestorage_folder           object_id
14  filestorage_folder_content_type_object_id_n_56...          UNIQUE                  name      filestorage_folder                name
15  filestorage_folder_content_type_object_id_n_56...          UNIQUE                  name      filestorage_folder           parent_id
16  filestorage_folder_content_type_object_id_n_56...          UNIQUE                  name      filestorage_folder        content_type
17  filestorage_folder_content_type_object_id_n_56...          UNIQUE             parent_id      filestorage_folder           parent_id
18  filestorage_folder_content_type_object_id_n_56...          UNIQUE             parent_id      filestorage_folder                name
19  filestorage_folder_content_type_object_id_n_56...          UNIQUE             parent_id      filestorage_folder           object_id
20  filestorage_folder_content_type_object_id_n_56...          UNIQUE             parent_id      filestorage_folder        content_type

#### Таблица: `filestorage_forbiddenextension`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

            column_name          data_type is_nullable                                     column_default
0                    id             bigint          NO  nextval('filestorage_forbiddenextension_id_seq...
1                  name  character varying          NO                                               None
2  forbidden_for_mobile            boolean          NO                                               None
3      forbidden_for_pc            boolean          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                           constraint_name constraint_type column_name              foreign_table_name foreign_column_name
0      filestorage_forbiddenextension_pkey     PRIMARY KEY          id  filestorage_forbiddenextension                  id
1  filestorage_forbiddenextension_name_key          UNIQUE        name  filestorage_forbiddenextension                name

#### Таблица: `filestorage_forbiddenfilecharacter`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name          data_type is_nullable                                     column_default
0          id             bigint          NO  nextval('filestorage_forbiddenfilecharacter_id...
1   character  character varying          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                    constraint_name constraint_type column_name                  foreign_table_name foreign_column_name
0           filestorage_forbiddenfilecharacter_pkey     PRIMARY KEY          id  filestorage_forbiddenfilecharacter                  id
1  filestorage_forbiddenfilecharacter_character_key          UNIQUE   character  filestorage_forbiddenfilecharacter           character

#### Таблица: `filestorage_forbiddenfilename`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name          data_type is_nullable                                     column_default
0          id             bigint          NO  nextval('filestorage_forbiddenfilename_id_seq'...
1    filename  character varying          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                              constraint_name constraint_type column_name             foreign_table_name foreign_column_name
0          filestorage_forbiddenfilename_pkey     PRIMARY KEY          id  filestorage_forbiddenfilename                  id
1  filestorage_forbiddenfilename_filename_key          UNIQUE    filename  filestorage_forbiddenfilename            filename

#### Таблица: `keycloak_rolepermissions`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

     column_name          data_type is_nullable                                     column_default
0             id            integer          NO  nextval('keycloak_rolepermissions_id_seq'::reg...
1  keycloak_role  character varying          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                 constraint_name constraint_type column_name        foreign_table_name foreign_column_name
0  keycloak_rolepermissions_pkey     PRIMARY KEY          id  keycloak_rolepermissions                  id

#### Таблица: `keycloak_rolepermissions_permissions`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

          column_name data_type is_nullable                                     column_default
0                  id    bigint          NO  nextval('keycloak_rolepermissions_permissions_...
1  rolepermissions_id   integer          NO                                               None
2       permission_id   integer          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type         column_name                    foreign_table_name foreign_column_name
0  keycloak_rolepermiss_permission_id_c7eb30c1_fk...     FOREIGN KEY       permission_id                       auth_permission                  id
1  keycloak_rolepermiss_rolepermissions_id_56dabd...     FOREIGN KEY  rolepermissions_id              keycloak_rolepermissions                  id
2          keycloak_rolepermissions_permissions_pkey     PRIMARY KEY                  id  keycloak_rolepermissions_permissions                  id
3  keycloak_rolepermissions_rolepermissions_id_pe...          UNIQUE  rolepermissions_id  keycloak_rolepermissions_permissions       permission_id
4  keycloak_rolepermissions_rolepermissions_id_pe...          UNIQUE  rolepermissions_id  keycloak_rolepermissions_permissions  rolepermissions_id
5  keycloak_rolepermissions_rolepermissions_id_pe...          UNIQUE       permission_id  keycloak_rolepermissions_permissions  rolepermissions_id
6  keycloak_rolepermissions_rolepermissions_id_pe...          UNIQUE       permission_id  keycloak_rolepermissions_permissions       permission_id

#### Таблица: `keycloak_userprofilekeycloak`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                     column_name          data_type is_nullable                                     column_default
0                             id            integer          NO  nextval('keycloak_userprofilekeycloak_id_seq':...
1                    keycloak_id  character varying          NO                                               None
2                 keycloak_roles  character varying         YES                                               None
3                        user_id            integer          NO                                               None
4  roles_and_permissions_as_dict               text         YES                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type  column_name            foreign_table_name foreign_column_name
0  keycloak_userprofilekeycloak_user_id_c0e21bb7_...     FOREIGN KEY      user_id                     auth_user                  id
1                  keycloak_userprofilekeycloak_pkey     PRIMARY KEY           id  keycloak_userprofilekeycloak                  id
2  keycloak_userprofilekeycloak_keycloak_id_58dff...          UNIQUE  keycloak_id  keycloak_userprofilekeycloak         keycloak_id
3           keycloak_userprofilekeycloak_user_id_key          UNIQUE      user_id  keycloak_userprofilekeycloak             user_id

#### Таблица: `management_commands_command`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   column_name                 data_type is_nullable                                     column_default
0           id                    bigint          NO  nextval('management_commands_command_id_seq'::...
1  module_name                      text          NO                                               None
2         name                      text          NO                                               None
3   created_at  timestamp with time zone          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type  column_name           foreign_table_name foreign_column_name
0                   management_commands_command_pkey     PRIMARY KEY           id  management_commands_command                  id
1  management_commands_command_name_module_name_0...          UNIQUE         name  management_commands_command         module_name
2  management_commands_command_name_module_name_0...          UNIQUE         name  management_commands_command                name
3  management_commands_command_name_module_name_0...          UNIQUE  module_name  management_commands_command         module_name
4  management_commands_command_name_module_name_0...          UNIQUE  module_name  management_commands_command                name

#### Таблица: `management_commands_commandrun`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   column_name                 data_type is_nullable                                     column_default
0           id                    bigint          NO  nextval('management_commands_commandrun_id_seq...
1         args                     ARRAY          NO                                               None
2       kwargs                     jsonb          NO                                               None
3   started_at  timestamp with time zone         YES                                               None
4  finished_at  timestamp with time zone         YES                                               None
5        error                      text          NO                                               None
6       status         character varying          NO                                               None
7   command_id                    bigint          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type column_name              foreign_table_name foreign_column_name
0  management_commands__command_id_c776902b_fk_ma...     FOREIGN KEY  command_id     management_commands_command                  id
1                management_commands_commandrun_pkey     PRIMARY KEY          id  management_commands_commandrun                  id

#### Таблица: `oauth2_provider_accesstoken`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

               column_name                 data_type is_nullable                                     column_default
0                       id                    bigint          NO  nextval('oauth2_provider_accesstoken_id_seq'::...
1                    token         character varying          NO                                               None
2                  expires  timestamp with time zone          NO                                               None
3                    scope                      text          NO                                               None
4           application_id                    bigint         YES                                               None
5                  user_id                   integer         YES                                               None
6                  created  timestamp with time zone          NO                                               None
7                  updated  timestamp with time zone          NO                                               None
8  source_refresh_token_id                    bigint         YES                                               None
9              id_token_id                    bigint         YES                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type              column_name            foreign_table_name      foreign_column_name
0  oauth2_provider_acce_application_id_b22886e1_f...     FOREIGN KEY           application_id   oauth2_provider_application                       id
1  oauth2_provider_acce_id_token_id_85db651b_fk_o...     FOREIGN KEY              id_token_id       oauth2_provider_idtoken                       id
2  oauth2_provider_acce_source_refresh_token_e66f...     FOREIGN KEY  source_refresh_token_id  oauth2_provider_refreshtoken                       id
3  oauth2_provider_accesstoken_user_id_6e4c9a65_f...     FOREIGN KEY                  user_id                     auth_user                       id
4                   oauth2_provider_accesstoken_pkey     PRIMARY KEY                       id   oauth2_provider_accesstoken                       id
5        oauth2_provider_accesstoken_id_token_id_key          UNIQUE              id_token_id   oauth2_provider_accesstoken              id_token_id
6  oauth2_provider_accesstoken_source_refresh_tok...          UNIQUE  source_refresh_token_id   oauth2_provider_accesstoken  source_refresh_token_id
7              oauth2_provider_accesstoken_token_key          UNIQUE                    token   oauth2_provider_accesstoken                    token

#### Таблица: `oauth2_provider_application`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                 column_name                 data_type is_nullable                                     column_default
0                         id                    bigint          NO  nextval('oauth2_provider_application_id_seq'::...
1                  client_id         character varying          NO                                               None
2              redirect_uris                      text          NO                                               None
3                client_type         character varying          NO                                               None
4   authorization_grant_type         character varying          NO                                               None
5              client_secret         character varying          NO                                               None
6                       name         character varying          NO                                               None
7                    user_id                   integer         YES                                               None
8         skip_authorization                   boolean          NO                                               None
9                    created  timestamp with time zone          NO                                               None
10                   updated  timestamp with time zone          NO                                               None
11                 algorithm         character varying          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type column_name           foreign_table_name foreign_column_name
0  oauth2_provider_application_user_id_79829054_f...     FOREIGN KEY     user_id                    auth_user                  id
1                   oauth2_provider_application_pkey     PRIMARY KEY          id  oauth2_provider_application                  id
2          oauth2_provider_application_client_id_key          UNIQUE   client_id  oauth2_provider_application           client_id

#### Таблица: `oauth2_provider_grant`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

              column_name                 data_type is_nullable                                     column_default
0                      id                    bigint          NO  nextval('oauth2_provider_grant_id_seq'::regclass)
1                    code         character varying          NO                                               None
2                 expires  timestamp with time zone          NO                                               None
3            redirect_uri                      text          NO                                               None
4                   scope                      text          NO                                               None
5          application_id                    bigint          NO                                               None
6                 user_id                   integer          NO                                               None
7                 created  timestamp with time zone          NO                                               None
8                 updated  timestamp with time zone          NO                                               None
9          code_challenge         character varying          NO                                               None
10  code_challenge_method         character varying          NO                                               None
11                  nonce         character varying          NO                                               None
12                 claims                      text          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type     column_name           foreign_table_name foreign_column_name
0  oauth2_provider_gran_application_id_81923564_f...     FOREIGN KEY  application_id  oauth2_provider_application                  id
1  oauth2_provider_grant_user_id_e8f62af8_fk_auth...     FOREIGN KEY         user_id                    auth_user                  id
2                         oauth2_provider_grant_pkey     PRIMARY KEY              id        oauth2_provider_grant                  id
3                     oauth2_provider_grant_code_key          UNIQUE            code        oauth2_provider_grant                code

#### Таблица: `oauth2_provider_idtoken`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

      column_name                 data_type is_nullable                                     column_default
0              id                    bigint          NO  nextval('oauth2_provider_idtoken_id_seq'::regc...
1             jti                      uuid          NO                                               None
2         expires  timestamp with time zone          NO                                               None
3           scope                      text          NO                                               None
4         created  timestamp with time zone          NO                                               None
5         updated  timestamp with time zone          NO                                               None
6  application_id                    bigint         YES                                               None
7         user_id                   integer         YES                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type     column_name           foreign_table_name foreign_column_name
0  oauth2_provider_idto_application_id_08c5ff4f_f...     FOREIGN KEY  application_id  oauth2_provider_application                  id
1  oauth2_provider_idtoken_user_id_dd512b59_fk_au...     FOREIGN KEY         user_id                    auth_user                  id
2                       oauth2_provider_idtoken_pkey     PRIMARY KEY              id      oauth2_provider_idtoken                  id
3                    oauth2_provider_idtoken_jti_key          UNIQUE             jti      oauth2_provider_idtoken                 jti

#### Таблица: `oauth2_provider_refreshtoken`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

       column_name                 data_type is_nullable                                     column_default
0               id                    bigint          NO  nextval('oauth2_provider_refreshtoken_id_seq':...
1            token         character varying          NO                                               None
2  access_token_id                    bigint         YES                                               None
3   application_id                    bigint          NO                                               None
4          user_id                   integer          NO                                               None
5          created  timestamp with time zone          NO                                               None
6          updated  timestamp with time zone          NO                                               None
7          revoked  timestamp with time zone         YES                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type      column_name            foreign_table_name foreign_column_name
0  oauth2_provider_refr_access_token_id_775e84e8_...     FOREIGN KEY  access_token_id   oauth2_provider_accesstoken                  id
1  oauth2_provider_refr_application_id_2d1c311b_f...     FOREIGN KEY   application_id   oauth2_provider_application                  id
2  oauth2_provider_refreshtoken_user_id_da837fce_...     FOREIGN KEY          user_id                     auth_user                  id
3                  oauth2_provider_refreshtoken_pkey     PRIMARY KEY               id  oauth2_provider_refreshtoken                  id
4   oauth2_provider_refreshtoken_access_token_id_key          UNIQUE  access_token_id  oauth2_provider_refreshtoken     access_token_id
5  oauth2_provider_refreshtoken_token_revoked_af8...          UNIQUE            token  oauth2_provider_refreshtoken             revoked
6  oauth2_provider_refreshtoken_token_revoked_af8...          UNIQUE            token  oauth2_provider_refreshtoken               token
7  oauth2_provider_refreshtoken_token_revoked_af8...          UNIQUE          revoked  oauth2_provider_refreshtoken             revoked
8  oauth2_provider_refreshtoken_token_revoked_af8...          UNIQUE          revoked  oauth2_provider_refreshtoken               token

#### Таблица: `permission_defaultrole`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         column_name data_type is_nullable                                     column_default
0                 id    bigint          NO  nextval('permission_defaultrole_id_seq'::regcl...
1            role_id    bigint          NO                                               None
2  storage_object_id      uuid          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type        column_name      foreign_table_name foreign_column_name
0  permission_defaultro_storage_object_id_db888e0...     FOREIGN KEY  storage_object_id   storage_storageobject                  id
1  permission_defaultrole_role_id_bebae9e9_fk_per...     FOREIGN KEY            role_id         permission_role                  id
2                        permission_defaultrole_pkey     PRIMARY KEY                 id  permission_defaultrole                  id
3       permission_defaultrole_storage_object_id_key          UNIQUE  storage_object_id  permission_defaultrole   storage_object_id

#### Таблица: `permission_role`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

       column_name          data_type is_nullable                               column_default
0               id             bigint          NO  nextval('permission_role_id_seq'::regclass)
1             name  character varying          NO                                         None
2      permissions              ARRAY          NO                                         None
3  own_permissions              ARRAY          NO                                         None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

            constraint_name constraint_type column_name foreign_table_name foreign_column_name
0      permission_role_pkey     PRIMARY KEY          id    permission_role                  id
1  permission_role_name_key          UNIQUE        name    permission_role                name

#### Таблица: `permission_userrole`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         column_name data_type is_nullable                                   column_default
0                 id    bigint          NO  nextval('permission_userrole_id_seq'::regclass)
1           user_uid      uuid          NO                                             None
2            role_id    bigint          NO                                             None
3  storage_object_id      uuid          NO                                             None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type        column_name     foreign_table_name foreign_column_name
0  permission_userrole_role_id_2b983e07_fk_permis...     FOREIGN KEY            role_id        permission_role                  id
1  permission_userrole_storage_object_id_44460fe6...     FOREIGN KEY  storage_object_id  storage_storageobject                  id
2                           permission_userrole_pkey     PRIMARY KEY                 id    permission_userrole                  id
3  permission_userrole_user_uid_storage_object_id...          UNIQUE           user_uid    permission_userrole   storage_object_id
4  permission_userrole_user_uid_storage_object_id...          UNIQUE           user_uid    permission_userrole            user_uid
5  permission_userrole_user_uid_storage_object_id...          UNIQUE  storage_object_id    permission_userrole            user_uid
6  permission_userrole_user_uid_storage_object_id...          UNIQUE  storage_object_id    permission_userrole   storage_object_id

#### Таблица: `permissions_v2_permission`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

    column_name          data_type is_nullable                                     column_default
0            id             bigint          NO  nextval('permissions_v2_permission_id_seq'::re...
1          name  character varying          NO                                               None
2  display_name  character varying          NO                                               None
3         scope  character varying          NO                                               None
4      subscope  character varying          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                  constraint_name constraint_type column_name         foreign_table_name foreign_column_name
0  permissions_v2_permission_pkey     PRIMARY KEY          id  permissions_v2_permission                  id

#### Таблица: `permissions_v2_permissiontoroleassociation`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

     column_name data_type is_nullable                                     column_default
0             id    bigint          NO  nextval('permissions_v2_permissiontoroleassoci...
1  permission_id    bigint          NO                                               None
2        role_id    bigint          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type    column_name                          foreign_table_name foreign_column_name
0  permissions_v2_permi_permission_id_f7970233_fk...     FOREIGN KEY  permission_id                   permissions_v2_permission                  id
1  permissions_v2_permi_role_id_1759345d_fk_permi...     FOREIGN KEY        role_id                         permissions_v2_role                  id
2    permissions_v2_permissiontoroleassociation_pkey     PRIMARY KEY             id  permissions_v2_permissiontoroleassociation                  id

#### Таблица: `permissions_v2_role`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

            column_name          data_type is_nullable                                   column_default
0                    id             bigint          NO  nextval('permissions_v2_role_id_seq'::regclass)
1                  name  character varying          NO                                             None
2          display_name  character varying          NO                                             None
3                 scope  character varying          NO                                             None
4              subscope  character varying          NO                                             None
5     is_system_defined            boolean          NO                                             None
6  is_instance_specific            boolean          NO                                             None
7           description              jsonb          NO                                             None
8            is_visible            boolean          NO                                             None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

            constraint_name constraint_type column_name   foreign_table_name foreign_column_name
0  permissions_v2_role_pkey     PRIMARY KEY          id  permissions_v2_role                  id

#### Таблица: `permissions_v2_roleaccessgrant`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         column_name                 data_type is_nullable                                     column_default
0                 id                    bigint          NO  nextval('permissions_v2_roleaccessgrant_id_seq...
1         created_at  timestamp with time zone          NO                                               None
2         updated_at  timestamp with time zone          NO                                               None
3            role_id                    bigint          NO                                               None
4            user_id                   integer         YES                                               None
5       is_inherited                   boolean          NO                                               None
6  storage_object_id                      uuid          NO                                               None
7           group_id                      uuid         YES                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type        column_name              foreign_table_name foreign_column_name
0  permissions_v2_rolea_group_id_3f27193a_fk_role...     FOREIGN KEY           group_id          roles_access_usergroup                  id
1  permissions_v2_rolea_role_id_3e703124_fk_permi...     FOREIGN KEY            role_id             permissions_v2_role                  id
2  permissions_v2_rolea_storage_object_id_31ef93b...     FOREIGN KEY  storage_object_id           storage_storageobject                  id
3  permissions_v2_roleaccessgrant_user_id_cfc056b...     FOREIGN KEY            user_id                       auth_user                  id
4                permissions_v2_roleaccessgrant_pkey     PRIMARY KEY                 id  permissions_v2_roleaccessgrant                  id

#### Таблица: `permissions_v2_roleoverride`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         column_name data_type is_nullable                                     column_default
0                 id    bigint          NO  nextval('permissions_v2_roleoverride_id_seq'::...
1           role_ids     ARRAY          NO                                               None
2  storage_object_id      uuid          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type        column_name           foreign_table_name foreign_column_name
0  permissions_v2_roleo_storage_object_id_b8cc662...     FOREIGN KEY  storage_object_id        storage_storageobject                  id
1                   permissions_v2_roleoverride_pkey     PRIMARY KEY                 id  permissions_v2_roleoverride                  id
2  permissions_v2_roleoverride_storage_object_id_key          UNIQUE  storage_object_id  permissions_v2_roleoverride   storage_object_id

#### Таблица: `permissions_v2_roletouser`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name data_type is_nullable                                     column_default
0          id    bigint          NO  nextval('permissions_v2_roletouser_id_seq'::re...
1     role_id    bigint          NO                                               None
2     user_id   integer         YES                                               None
3    group_id      uuid         YES                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type column_name         foreign_table_name foreign_column_name
0  permissions_v2_rolet_group_id_252277b1_fk_role...     FOREIGN KEY    group_id     roles_access_usergroup                  id
1  permissions_v2_rolet_role_id_b749610b_fk_permi...     FOREIGN KEY     role_id        permissions_v2_role                  id
2  permissions_v2_roletouser_user_id_833af028_fk_...     FOREIGN KEY     user_id                  auth_user                  id
3                     permissions_v2_roletouser_pkey     PRIMARY KEY          id  permissions_v2_roletouser                  id

#### Таблица: `profile_sync_profileuserdata`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

            column_name                 data_type is_nullable                                     column_default
0                    id                   integer          NO  nextval('profile_sync_profileuserdata_id_seq':...
1                  data                     jsonb          NO                                               None
2           keycloak_id         character varying          NO                                               None
3            created_at  timestamp with time zone          NO                                               None
4            updated_at  timestamp with time zone          NO                                               None
5               user_id                   integer         YES                                               None
6              username         character varying         YES                                               None
7      boss_keycloak_id         character varying         YES                                               None
8   agreement_kedo_date                      date         YES                                               None
9          search_field         character varying         YES                                               None
10             position         character varying         YES                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type  column_name            foreign_table_name foreign_column_name
0  profile_sync_profileuserdata_user_id_2c1242e1_...     FOREIGN KEY      user_id                     auth_user                  id
1                  profile_sync_profileuserdata_pkey     PRIMARY KEY           id  profile_sync_profileuserdata                  id
2       profile_sync_profileuserdata_keycloak_id_key          UNIQUE  keycloak_id  profile_sync_profileuserdata         keycloak_id
3           profile_sync_profileuserdata_user_id_key          UNIQUE      user_id  profile_sync_profileuserdata             user_id

#### Таблица: `reactions_deprecatedreaction`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         column_name                 data_type is_nullable                                  column_default
0                 id                    bigint          NO  nextval('reactions_reaction_id_seq'::regclass)
1         emoji_uuid                      uuid          NO                                            None
2         created_at  timestamp with time zone          NO                                            None
3  storage_object_id                      uuid          NO                                            None
4            user_id                   integer          NO                                            None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type        column_name            foreign_table_name foreign_column_name
0  reactions_reaction_storage_object_id_19f40b3d_...     FOREIGN KEY  storage_object_id         storage_storageobject                  id
1  reactions_reaction_user_id_f387ba6a_fk_auth_us...     FOREIGN KEY            user_id                     auth_user                  id
2                            reactions_reaction_pkey     PRIMARY KEY                 id  reactions_deprecatedreaction                  id
3  reactions_reaction_user_id_storage_object_id_8...          UNIQUE            user_id  reactions_deprecatedreaction             user_id
4  reactions_reaction_user_id_storage_object_id_8...          UNIQUE            user_id  reactions_deprecatedreaction   storage_object_id
5  reactions_reaction_user_id_storage_object_id_8...          UNIQUE  storage_object_id  reactions_deprecatedreaction   storage_object_id
6  reactions_reaction_user_id_storage_object_id_8...          UNIQUE  storage_object_id  reactions_deprecatedreaction             user_id

#### Таблица: `reactions_favorite`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         column_name                 data_type is_nullable                                  column_default
0                 id                    bigint          NO  nextval('reactions_favorite_id_seq'::regclass)
1         created_at  timestamp with time zone          NO                                            None
2  storage_object_id                      uuid          NO                                            None
3            user_id                   integer          NO                                            None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type        column_name     foreign_table_name foreign_column_name
0  reactions_favorite_storage_object_id_e644fa59_...     FOREIGN KEY  storage_object_id  storage_storageobject                  id
1  reactions_favorite_user_id_2d85c519_fk_auth_us...     FOREIGN KEY            user_id              auth_user                  id
2                            reactions_favorite_pkey     PRIMARY KEY                 id     reactions_favorite                  id
3  reactions_favorite_user_id_storage_object_id_7...          UNIQUE            user_id     reactions_favorite             user_id
4  reactions_favorite_user_id_storage_object_id_7...          UNIQUE            user_id     reactions_favorite   storage_object_id
5  reactions_favorite_user_id_storage_object_id_7...          UNIQUE  storage_object_id     reactions_favorite   storage_object_id
6  reactions_favorite_user_id_storage_object_id_7...          UNIQUE  storage_object_id     reactions_favorite             user_id

#### Таблица: `reactions_subscription`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         column_name                 data_type is_nullable                                     column_default
0                 id                    bigint          NO  nextval('reactions_subscription_id_seq'::regcl...
1         created_at  timestamp with time zone          NO                                               None
2  storage_object_id                      uuid          NO                                               None
3            user_id                   integer          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type        column_name      foreign_table_name foreign_column_name
0  reactions_subscripti_storage_object_id_b487f30...     FOREIGN KEY  storage_object_id   storage_storageobject                  id
1  reactions_subscription_user_id_5894e10c_fk_aut...     FOREIGN KEY            user_id               auth_user                  id
2                        reactions_subscription_pkey     PRIMARY KEY                 id  reactions_subscription                  id

#### Таблица: `role_model_genericpermission`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name          data_type is_nullable                                     column_default
0          id             bigint          NO  nextval('role_model_genericpermission_id_seq':...
1    codename  character varying          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                             constraint_name constraint_type column_name            foreign_table_name foreign_column_name
0          role_model_genericpermission_pkey     PRIMARY KEY          id  role_model_genericpermission                  id
1  role_model_genericpermission_codename_key          UNIQUE    codename  role_model_genericpermission            codename

#### Таблица: `role_model_genericrole`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name          data_type is_nullable                                     column_default
0          id             bigint          NO  nextval('role_model_genericrole_id_seq'::regcl...
1        name  character varying          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                   constraint_name constraint_type column_name      foreign_table_name foreign_column_name
0      role_model_genericrole_pkey     PRIMARY KEY          id  role_model_genericrole                  id
1  role_model_genericrole_name_key          UNIQUE        name  role_model_genericrole                name

#### Таблица: `role_model_genericrole_permissions`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

            column_name data_type is_nullable                                     column_default
0                    id    bigint          NO  nextval('role_model_genericrole_permissions_id...
1        genericrole_id    bigint          NO                                               None
2  genericpermission_id    bigint          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type           column_name                  foreign_table_name   foreign_column_name
0            role_model_genericrole_permissions_pkey     PRIMARY KEY                    id  role_model_genericrole_permissions                    id
1  role_model_genericrole_p_genericrole_id_generi...          UNIQUE        genericrole_id  role_model_genericrole_permissions        genericrole_id
2  role_model_genericrole_p_genericrole_id_generi...          UNIQUE        genericrole_id  role_model_genericrole_permissions  genericpermission_id
3  role_model_genericrole_p_genericrole_id_generi...          UNIQUE  genericpermission_id  role_model_genericrole_permissions        genericrole_id
4  role_model_genericrole_p_genericrole_id_generi...          UNIQUE  genericpermission_id  role_model_genericrole_permissions  genericpermission_id

#### Таблица: `role_model_genericuserrole`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

       column_name data_type is_nullable                                     column_default
0               id    bigint          NO  nextval('role_model_genericuserrole_id_seq'::r...
1        object_id   integer          NO                                               None
2  content_type_id   integer          NO                                               None
3          role_id    bigint          NO                                               None
4         user_uid      uuid         YES                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                      constraint_name constraint_type      column_name          foreign_table_name foreign_column_name
0   role_model_genericus_content_type_id_17ebadb0_...     FOREIGN KEY  content_type_id         django_content_type                  id
1      role_model_genericuserrole_role_id_87f6a9d8_fk     FOREIGN KEY          role_id      role_model_genericrole                  id
2                     role_model_genericuserrole_pkey     PRIMARY KEY               id  role_model_genericuserrole                  id
3   role_model_genericuserro_user_uid_role_id_cont...          UNIQUE         user_uid  role_model_genericuserrole            user_uid
4   role_model_genericuserro_user_uid_role_id_cont...          UNIQUE         user_uid  role_model_genericuserrole           object_id
5   role_model_genericuserro_user_uid_role_id_cont...          UNIQUE         user_uid  role_model_genericuserrole     content_type_id
6   role_model_genericuserro_user_uid_role_id_cont...          UNIQUE         user_uid  role_model_genericuserrole             role_id
7   role_model_genericuserro_user_uid_role_id_cont...          UNIQUE          role_id  role_model_genericuserrole            user_uid
8   role_model_genericuserro_user_uid_role_id_cont...          UNIQUE          role_id  role_model_genericuserrole             role_id
9   role_model_genericuserro_user_uid_role_id_cont...          UNIQUE          role_id  role_model_genericuserrole     content_type_id
10  role_model_genericuserro_user_uid_role_id_cont...          UNIQUE          role_id  role_model_genericuserrole           object_id
11  role_model_genericuserro_user_uid_role_id_cont...          UNIQUE  content_type_id  role_model_genericuserrole            user_uid
12  role_model_genericuserro_user_uid_role_id_cont...          UNIQUE  content_type_id  role_model_genericuserrole           object_id
13  role_model_genericuserro_user_uid_role_id_cont...          UNIQUE  content_type_id  role_model_genericuserrole     content_type_id
14  role_model_genericuserro_user_uid_role_id_cont...          UNIQUE  content_type_id  role_model_genericuserrole             role_id
15  role_model_genericuserro_user_uid_role_id_cont...          UNIQUE        object_id  role_model_genericuserrole            user_uid
16  role_model_genericuserro_user_uid_role_id_cont...          UNIQUE        object_id  role_model_genericuserrole           object_id
17  role_model_genericuserro_user_uid_role_id_cont...          UNIQUE        object_id  role_model_genericuserrole     content_type_id
18  role_model_genericuserro_user_uid_role_id_cont...          UNIQUE        object_id  role_model_genericuserrole             role_id

#### Таблица: `roles_access_usergroup`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

               column_name data_type is_nullable column_default
0                       id      uuid          NO           None
1                     name      text          NO           None
2             display_name      text         YES           None
3        is_system_defined   boolean          NO           None
4       owner_service_name      text          NO           None
5  owner_service_entity_id      uuid         YES           None
6                parent_id      uuid         YES           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type              column_name      foreign_table_name      foreign_column_name
0  roles_access_usergro_parent_id_545af45f_fk_rol...     FOREIGN KEY                parent_id  roles_access_usergroup                       id
1                        roles_access_usergroup_pkey     PRIMARY KEY                       id  roles_access_usergroup                       id
2                    roles_access_usergroup_name_key          UNIQUE                     name  roles_access_usergroup                     name
3  roles_access_usergroup_owner_service_name_owne...          UNIQUE       owner_service_name  roles_access_usergroup  owner_service_entity_id
4  roles_access_usergroup_owner_service_name_owne...          UNIQUE       owner_service_name  roles_access_usergroup       owner_service_name
5  roles_access_usergroup_owner_service_name_owne...          UNIQUE  owner_service_entity_id  roles_access_usergroup       owner_service_name
6  roles_access_usergroup_owner_service_name_owne...          UNIQUE  owner_service_entity_id  roles_access_usergroup  owner_service_entity_id

#### Таблица: `roles_access_usertogroup`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         column_name data_type is_nullable                                     column_default
0                 id    bigint          NO  nextval('roles_access_usertogroup_id_seq'::reg...
1   user_keycloak_id      uuid          NO                                               None
2  is_system_defined   boolean          NO                                               None
3      user_group_id      uuid          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type       column_name        foreign_table_name foreign_column_name
0  roles_access_usertog_user_group_id_b140230d_fk...     FOREIGN KEY     user_group_id    roles_access_usergroup                  id
1                      roles_access_usertogroup_pkey     PRIMARY KEY                id  roles_access_usertogroup                  id
2  roles_access_usertogroup_user_keycloak_id_user...          UNIQUE  user_keycloak_id  roles_access_usertogroup    user_keycloak_id
3  roles_access_usertogroup_user_keycloak_id_user...          UNIQUE  user_keycloak_id  roles_access_usertogroup       user_group_id
4  roles_access_usertogroup_user_keycloak_id_user...          UNIQUE     user_group_id  roles_access_usertogroup    user_keycloak_id
5  roles_access_usertogroup_user_keycloak_id_user...          UNIQUE     user_group_id  roles_access_usertogroup       user_group_id

#### Таблица: `storage_category`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

      column_name          data_type is_nullable                                column_default
0              id             bigint          NO  nextval('storage_category_id_seq'::regclass)
1            name  character varying          NO                                          None
2  root_folder_id               uuid         YES                                          None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type     column_name     foreign_table_name foreign_column_name
0  storage_category_root_folder_id_62693899_fk_st...     FOREIGN KEY  root_folder_id  storage_storageobject                  id
1                              storage_category_pkey     PRIMARY KEY              id       storage_category                  id
2  storage_category_name_root_folder_id_01723182_...          UNIQUE            name       storage_category                name
3  storage_category_name_root_folder_id_01723182_...          UNIQUE            name       storage_category      root_folder_id
4  storage_category_name_root_folder_id_01723182_...          UNIQUE  root_folder_id       storage_category                name
5  storage_category_name_root_folder_id_01723182_...          UNIQUE  root_folder_id       storage_category      root_folder_id

#### Таблица: `storage_objectview`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         column_name                 data_type is_nullable                                  column_default
0                 id                    bigint          NO  nextval('storage_objectview_id_seq'::regclass)
1  storage_object_id                      uuid          NO                                            None
2            user_id                   integer          NO                                            None
3         created_at  timestamp with time zone          NO                                            None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type        column_name     foreign_table_name foreign_column_name
0  storage_objectview_storage_object_id_471c8fb3_...     FOREIGN KEY  storage_object_id  storage_storageobject                  id
1  storage_objectview_user_id_d8cb5591_fk_auth_us...     FOREIGN KEY            user_id              auth_user                  id
2                            storage_objectview_pkey     PRIMARY KEY                 id     storage_objectview                  id

#### Таблица: `storage_storageobject`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                  column_name                 data_type is_nullable column_default
0                          id                      uuid          NO           None
1                        type                  smallint          NO           None
2                        name                      text          NO           None
3                 description         character varying          NO           None
4             deprecated_tags                     ARRAY         YES           None
5                        size                   integer         YES           None
6                  additional                     jsonb         YES           None
7                  created_at  timestamp with time zone          NO           None
8                  updated_at  timestamp with time zone          NO           None
9                  deleted_at  timestamp with time zone         YES           None
10              created_by_id                   integer         YES           None
11                  parent_id                      uuid         YES           None
12              updated_by_id                   integer         YES           None
13                 version_id                    bigint         YES           None
14        object_with_role_id                      uuid         YES           None
15              deleted_by_id                   integer         YES           None
16          context_folder_id                      uuid         YES           None
17  object_with_extensions_id                      uuid         YES           None
18                    site_id                      uuid         YES           None
19                       slug         character varying         YES           None
20  file_storage_display_type         character varying          NO           None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type                column_name     foreign_table_name foreign_column_name
0  storage_storageobjec_context_folder_id_80b0031...     FOREIGN KEY          context_folder_id  storage_storageobject                  id
1  storage_storageobjec_object_with_extensio_cc7e...     FOREIGN KEY  object_with_extensions_id  storage_storageobject                  id
2  storage_storageobjec_object_with_role_id_06e5a...     FOREIGN KEY        object_with_role_id  storage_storageobject                  id
3  storage_storageobjec_parent_id_3d2ea0e3_fk_sto...     FOREIGN KEY                  parent_id  storage_storageobject                  id
4  storage_storageobject_created_by_id_cd86e2b9_f...     FOREIGN KEY              created_by_id              auth_user                  id
5  storage_storageobject_deleted_by_id_88cd3053_f...     FOREIGN KEY              deleted_by_id              auth_user                  id
6  storage_storageobject_updated_by_id_aa02b6a5_f...     FOREIGN KEY              updated_by_id              auth_user                  id
7  storage_storageobject_version_id_511c715f_fk_s...     FOREIGN KEY                 version_id        storage_version                  id
8                         storage_storageobject_pkey     PRIMARY KEY                         id  storage_storageobject                  id
9               storage_storageobject_version_id_key          UNIQUE                 version_id  storage_storageobject          version_id

#### Таблица: `storage_storageobject_categories`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

        column_name data_type is_nullable                                     column_default
0                id    bigint          NO  nextval('storage_storageobject_categories_id_s...
1  storageobject_id      uuid          NO                                               None
2       category_id    bigint          NO                                               None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type       column_name                foreign_table_name foreign_column_name
0  storage_storageobjec_category_id_978aeab8_fk_s...     FOREIGN KEY       category_id                  storage_category                  id
1  storage_storageobjec_storageobject_id_bc7d8fbe...     FOREIGN KEY  storageobject_id             storage_storageobject                  id
2              storage_storageobject_categories_pkey     PRIMARY KEY                id  storage_storageobject_categories                  id
3  storage_storageobject_ca_storageobject_id_cate...          UNIQUE  storageobject_id  storage_storageobject_categories         category_id
4  storage_storageobject_ca_storageobject_id_cate...          UNIQUE  storageobject_id  storage_storageobject_categories    storageobject_id
5  storage_storageobject_ca_storageobject_id_cate...          UNIQUE       category_id  storage_storageobject_categories         category_id
6  storage_storageobject_ca_storageobject_id_cate...          UNIQUE       category_id  storage_storageobject_categories    storageobject_id

#### Таблица: `storage_version`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

         column_name                 data_type is_nullable                               column_default
0                 id                    bigint          NO  nextval('storage_version_id_seq'::regclass)
1     version_number                   integer          NO                                         None
2               size                   integer         YES                                         None
3            comment                   integer         YES                                         None
4         created_at  timestamp with time zone          NO                                         None
5               link         character varying          NO                                         None
6         deleted_at  timestamp with time zone         YES                                         None
7  storage_object_id                      uuid         YES                                         None
8      created_by_id                   integer         YES                                         None
9      deleted_by_id                   integer         YES                                         None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                     constraint_name constraint_type        column_name     foreign_table_name foreign_column_name
0  storage_version_created_by_id_c6b4faf2_fk_auth...     FOREIGN KEY      created_by_id              auth_user                  id
1  storage_version_deleted_by_id_a9ed7ae2_fk_auth...     FOREIGN KEY      deleted_by_id              auth_user                  id
2  storage_version_storage_object_id_261dac3e_fk_...     FOREIGN KEY  storage_object_id  storage_storageobject                  id
3                               storage_version_pkey     PRIMARY KEY                 id        storage_version                  id

#### Таблица: `tagging_tag`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name          data_type is_nullable                           column_default
0          id             bigint          NO  nextval('tagging_tag_id_seq'::regclass)
1        name  character varying          NO                                     None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

        constraint_name constraint_type column_name foreign_table_name foreign_column_name
0      tagging_tag_pkey     PRIMARY KEY          id        tagging_tag                  id
1  tagging_tag_name_key          UNIQUE        name        tagging_tag                name

#### Таблица: `tagging_taggeditem`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

       column_name data_type is_nullable                                  column_default
0               id    bigint          NO  nextval('tagging_taggeditem_id_seq'::regclass)
1        object_id   integer          NO                                            None
2  content_type_id   integer          NO                                            None
3           tag_id    bigint          NO                                            None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                      constraint_name constraint_type      column_name   foreign_table_name foreign_column_name
0   tagging_taggeditem_content_type_id_ede1c265_fk...     FOREIGN KEY  content_type_id  django_content_type                  id
1               tagging_taggeditem_tag_id_f008ca79_fk     FOREIGN KEY           tag_id          tagging_tag                  id
2                             tagging_taggeditem_pkey     PRIMARY KEY               id   tagging_taggeditem                  id
3   tagging_taggeditem_tag_id_content_type_id_o_3d...          UNIQUE           tag_id   tagging_taggeditem              tag_id
4   tagging_taggeditem_tag_id_content_type_id_o_3d...          UNIQUE           tag_id   tagging_taggeditem     content_type_id
5   tagging_taggeditem_tag_id_content_type_id_o_3d...          UNIQUE           tag_id   tagging_taggeditem           object_id
6   tagging_taggeditem_tag_id_content_type_id_o_3d...          UNIQUE  content_type_id   tagging_taggeditem              tag_id
7   tagging_taggeditem_tag_id_content_type_id_o_3d...          UNIQUE  content_type_id   tagging_taggeditem           object_id
8   tagging_taggeditem_tag_id_content_type_id_o_3d...          UNIQUE  content_type_id   tagging_taggeditem     content_type_id
9   tagging_taggeditem_tag_id_content_type_id_o_3d...          UNIQUE        object_id   tagging_taggeditem           object_id
10  tagging_taggeditem_tag_id_content_type_id_o_3d...          UNIQUE        object_id   tagging_taggeditem     content_type_id
11  tagging_taggeditem_tag_id_content_type_id_o_3d...          UNIQUE        object_id   tagging_taggeditem              tag_id

#### Таблица: `tastypie_apiaccess`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

      column_name          data_type is_nullable                                  column_default
0              id            integer          NO  nextval('tastypie_apiaccess_id_seq'::regclass)
1      identifier  character varying          NO                                            None
2             url               text          NO                                            None
3  request_method  character varying          NO                                            None
4        accessed            integer          NO                                            None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

           constraint_name constraint_type column_name  foreign_table_name foreign_column_name
0  tastypie_apiaccess_pkey     PRIMARY KEY          id  tastypie_apiaccess                  id

#### Таблица: `tastypie_apikey`

##### Схема:

/tmp/ipykernel_450849/82215137.py:49: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  column_name                 data_type is_nullable                               column_default
0          id                   integer          NO  nextval('tastypie_apikey_id_seq'::regclass)
1         key         character varying          NO                                         None
2     created  timestamp with time zone          NO                                         None
3     user_id                   integer          NO                                         None

##### Ограничения (PK, FK):

/tmp/ipykernel_450849/82215137.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

                                    constraint_name constraint_type column_name foreign_table_name foreign_column_name
0  tastypie_apikey_user_id_8c8fa920_fk_auth_user_id     FOREIGN KEY     user_id          auth_user                  id
1                              tastypie_apikey_pkey     PRIMARY KEY          id    tastypie_apikey                  id
2                       tastypie_apikey_user_id_key          UNIQUE     user_id    tastypie_apikey             user_id

Соединение с БД 'filestorage' закрыто.

Анализ завершен.